//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #e6f2f2;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten: #c3e5e5;
$base-color-light: #1f91da;
$base-color-main: #f92e50;
$base-color-dark: #0072bb;
$base-color-darken: #204040;


//brand-info
$color-type-1a: #0082d5;
$color-type-1b: #7f3b96;
$color-type-1c: #1e61a6;

//brand-danger
$color-type-2a: #86d6f6;
$color-type-2b: #a0dff8;
$color-type-2c: #69c4e8;

//brand-warning
$color-type-3a: #ffaa00;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #2db386;
$color-type-4b: #53a661;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #41b5cc;
$color-type-6b: #cad3df;

//black&white
$white-lighten: #fff;
$white: #fafafa;
$white-darken: #f0f0f0;

$gray-lighten: #eee;
$gray: #f0f0f0;
$gray-darken: #d7d7d7;
$gray-darken-1: #a0a0a0;
$gray-darken-2: #424242;

$black: #333;
$black-darken: #000;