#bottombaner.container
  .row
    .shipping.cell.cell__md-4.cell__xs-12
      img(src='images/icons/icons-pluses-01.svg')
      p
        | Доставка
        br
        |  по всей России
    .range.cell.cell__md-4.cell__xs-12
      img(src='images/icons/icons-pluses-02.svg')
      p
        | Уникальный
        br
        |  ассортимент
    .warranty.cell.cell__md-4.cell__xs-12
      img(src='images/icons/icons-pluses-03.svg')
      p
        | Гарантия
        br
        |  от производителя