.catalog.clearfix
  .container
    .catalog--title.category-header.category-header--catalog
      h2
        img(src="images/icons/title-icons-07.svg", alt="")
        | Каталог
      a.all(href='#') все товары
      ul#catalog-dropdown
          li.title
              a(href='#') Интерьерные подушки
          li
              a(href='#') Подушки под шею
          li
              a(href='#') Подушки
          li
              a(href='#') Игрушки
          li
              a(href='#') Подушки для беременных
    .catalog--content
      .slider-product
        div
          .toy.status.status--popular
            a(href='#')
              .toy-preview
                img(src='images/toy-9.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Ёлка-Пряник, новогодний аксессуар
            .toy-bottom
              .toy-bottom--price.price-new
                | 150.-
              .toy-bottom--price.price-old
                | 350.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-10.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Британский флаг
            .toy-bottom
              .toy-bottom--price
                | 180.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy.status.status--new
            a(href='#')
              .toy-preview
                img(src='images/toy-11.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Гирлянда 2017
            .toy-bottom
              .toy-bottom--price.price-new
                | 340.-
              .toy-bottom--price.price-old
                | 720.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-12.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Бабушкино вязание, красный цвет
            .toy-bottom
              .toy-bottom--price
                | 360.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy.status.status--popular
            a(href='#')
              .toy-preview
                img(src='images/toy-9.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Ёлка-Пряник, новогодний аксессуар
            .toy-bottom
              .toy-bottom--price.price-new
                | 150.-
              .toy-bottom--price.price-old
                | 350.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-10.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Британский флаг
            .toy-bottom
              .toy-bottom--price
                | 180.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy.status.status--new
            a(href='#')
              .toy-preview
                img(src='images/toy-11.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Гирлянда 2017
            .toy-bottom
              .toy-bottom--price.price-new
                | 340.-
              .toy-bottom--price.price-old
                | 720.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-12.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Бабушкино вязание, красный цвет
            .toy-bottom
              .toy-bottom--price
                | 360.-
              a.toy-bottom--basketButton(href='#')