.best-sellers
  .container
    .best-sellers--title.category-header.category-header--star
      h2
        img(src="images/icons/title-icons-04.svg", alt="")
        | Они вам понравятся
    .catalog--content
      .row
        .cell.cell__md-3.cell__sm-6.cell__xs-12
          .toy.status.status--popular
            a(href='#')
              .toy-preview
                img(src='images/toy.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Ёлка-Пряник, новогодний аксессуар
            .toy-bottom
              .toy-bottom--price.price-new
                | 150.-
              .toy-bottom--price.price-old
                | 350.-
              a.toy-bottom--basketButton(href='#')
        .cell.cell__md-3.cell__sm-6.cell__xs-12
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-2.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Британский флаг
            .toy-bottom
              .toy-bottom--price
                | 180.-
              a.toy-bottom--basketButton(href='#')
        .cell.cell__md-3.cell__sm-6.cell__xs-12
          .toy.status.status--new
            a(href='#')
              .toy-preview
                img(src='images/toy-3.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Гирлянда 2017
            .toy-bottom
              .toy-bottom--price.price-new
                | 340.-
              .toy-bottom--price.price-old
                | 720.-
              a.toy-bottom--basketButton(href='#')
        .cell.cell__md-3.cell__sm-6.cell__xs-12
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-4.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Бабушкино вязание, красный цвет
            .toy-bottom
              .toy-bottom--price
                | 360.-
              a.toy-bottom--basketButton(href='#')
    .text--center
        a.btn.btn--danger.btn__icon.icon-left-open(href="#") Назад в каталог