form.filter.topline__body--js
    .filter-title
        ul.list--table
            li.cell__xs-4: a.topline__btn--js(href="#"): img(src="images/icons/back.svg", alt="")
            li.cell__xs-4.text--center: b.text--info.text__lg Фильтр
            li.cell__xs-4.text--right: a.text--info.text__xs(href="#") Очистить
    .accordion
        ul
            li.checkbox-inner
                .checkbox
                    input(type="checkbox", id="id1")
                    label(for="id1")
                .accordion-title-js
                    .accordion-title
                        label Цвет
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .cardColor.cardColor--js
                            span.cardColor__item.cardColor__item--close
                            span.cardColor__item
                                span.circle(style="background-color: #2f2f2f;")
                            span.cardColor__item
                                span.circle(style="background-color: #f7f7f7;")
                            span.cardColor__item
                                span.circle(style="background-color: #89b8df;")
                            span.cardColor__item
                                span.circle(style="background-color: #7fe284;")
                            span.cardColor__item
                                span.circle(style="background-color: #a84336;")
                            span.cardColor__item.active
                                span.circle(style="background-color: #9474b4;")
                            span.cardColor__item
                                span.circle(style="background-color: #e65b47;")
                            span.cardColor__item
                                span.circle(style="background-color: #b2b2b2;")
                            span.cardColor__item
                                span.circle(style="background-color: #eaa275;")
                            span.cardColor__item
                                span.circle(style="background-color: #b35543;")
                            span.cardColor__item
                                img(src="images/icons/color-2.svg", alt="")
            li.checkbox-inner
                .checkbox
                    input.check_all(type="checkbox", id="id2")
                    label(for="id2")
                .accordion-title-js
                    .accordion-title
                        label Повод для подарка
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .checkbox
                            input.chk--js(type="checkbox", id="id3")
                            label(for="id3") Новый Год и Рождество
                        .checkbox
                            input.chk--js(type="checkbox", id="id4")
                            label(for="id4") День святого Валентина
                        .checkbox
                            input.chk--js(type="checkbox", id="id5")
                            label(for="id5") День защитника Отечества
                        .checkbox
                            input.chk--js(type="checkbox", id="id6")
                            label(for="id6") Международный женский день
                        .checkbox
                            input.chk--js(type="checkbox", id="id7")
                            label(for="id7") День победы
                        .checkbox
                            input.chk--js(type="checkbox", id="id8")
                            label(for="id8") 1 сентября
                        .checkbox
                            input.chk--js(type="checkbox", id="id9")
                            label(for="id9") Хеллоуин
                        .checkbox
                            input.chk--js(type="checkbox", id="id10")
                            label(for="id10") День рождения
                        .checkbox
                            input.chk--js(type="checkbox", id="id11")
                            label(for="id11") Пасха
            li.checkbox-inner
                .checkbox
                    input.check_all(type="checkbox", id="id12")
                    label(for="id12")
                .accordion-title-js
                    .accordion-title
                        label Год выпуска
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .checkbox
                            input.chk--js(type="checkbox", id="id13")
                            label(for="id13") 2016
                        .checkbox
                            input.chk--js(type="checkbox", id="id14")
                            label(for="id14") 2015
                        .checkbox
                            input.chk--js(type="checkbox", id="id15")
                            label(for="id15") 2014
            li.checkbox-inner
                .checkbox
                    input.check_all(type="checkbox", id="id16")
                    label(for="id16")
                .accordion-title-js
                    .accordion-title
                        label Размер (см)
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .checkbox
                            input.chk--js(type="checkbox", id="id17")
                            label(for="id17") 35x35
                        .checkbox
                            input.chk--js(type="checkbox", id="id18")
                            label(for="id18") 16x16
                        .checkbox
                            input.chk--js(type="checkbox", id="id19")
                            label(for="id19") 20x30
                        .checkbox
                            input.chk--js(type="checkbox", id="id20")
                            label(for="id20") 20x20
                        .checkbox
                            input.chk--js(type="checkbox", id="id21")
                            label(for="id21") 25x25
                        .checkbox
                            input.chk--js(type="checkbox", id="id22")
                            label(for="id22") 50x20
            li.checkbox-inner
                .checkbox
                    input.check_all(type="checkbox", id="id23")
                    label(for="id23")
                .accordion-title-js
                    .accordion-title
                        label Материал
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .checkbox
                            input.chk--js(type="checkbox", id="id24")
                            label(for="id24") Бифлекс
                        .checkbox
                            input.chk--js(type="checkbox", id="id25")
                            label(for="id25") Полиэстер
                        .checkbox
                            input.chk--js(type="checkbox", id="id26")
                            label(for="id26") Текстиль
            li.checkbox-inner
                .checkbox
                    input.check_all(type="checkbox", id="id27")
                    label(for="id27")
                .accordion-title-js
                    .accordion-title
                        label Форм-фактор
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        .checkbox
                            input.chk--js(type="checkbox", id="id28")
                            label(for="id28") Подголовник
                        .checkbox
                            input.chk--js(type="checkbox", id="id29")
                            label(for="id29") Подушка
                        .checkbox
                            input.chk--js(type="checkbox", id="id30")
                            label(for="id30") Игрушка
                        .checkbox
                            input.chk--js(type="checkbox", id="id31")
                            label(for="id31") Валик
            li.checkbox-inner
                .checkbox
                    input(type="checkbox", id="id32")
                    label(for="id32")
                .accordion-title-js
                    .accordion-title
                        label Цена
                        i
                    .accordion-item.accordion-item-js.custom-scroll--js
                        #rangeSlider
                        .clearfix.range-slider
                            .cell.cell__xs-5.range-slider__item
                                label от
                                input#start.form-control(type="text", class="start")
                            .cell.cell__xs-2.range-dot.text--center  •
                            .cell.cell__xs-5.range-slider__item
                                label до
                                input#end.form-control(type="text", class="end")
        a.btn.btn--full.btn--info.text--uppercase(href="#") Применить