.order.order--long
    .order__item
        .order-num
            p № Заказа 6547
        .text--default.text__sm
            | Всего товаров: 36
    .order__item
        .order-price
            p.text--default.text__md
                | Общая сумма
            span.order-price--val
                | 20 550.-
    .order__item
        .order-sale
            p.text--default.text__md
                | Моя скидка
            span.order-sale--val
                | 5%
    .order__item
        .order-sum
            p.text--default.text__md
                | Итог
            span.order-sum--val
                | 20 300.-
.step.hidden__xs
    .step__item.done.text--left
        p Корзина
            span.dot
    .step__item.active
        p Авторизация
            span.dot
    .step__item.text--center
        p Способ получения
            span.dot
    .step__item.text--right
        p Способ оплаты
            span.dot
    .step__item.text--right
        p Готово
            span.dot