.top-slider
  .slider-arrow-left
  .slider-arrow-right
  .slider.single-item
    .slide(style="background: url('images/slider1.jpg') no-repeat center center / cover")
      .slide-text-wrapper
        .slide-text
          span.animatable.animated.bigHeaderSlideUpIn Возьми с собой
          span.animatable.animated.bigHeaderSlideUpIn на отдых мнушку
        a.slide-link.animatable.animated.fadeIn(href='') ПЕРЕЙТИ В КАТАЛОГ
      .slide-toy
        img.mainimg.animatable.animated.SlideUpOut(src='images/slider-toy.png', alt='')
        img.shadow.animatable.animated.fadeIn(src='images/icons/slider-shadow.svg', alt='')
      img.slide-back(src='images/icons/mask-big.svg', alt='')
      img.slide-img.animated.SlideUpOut(src='images/slider1.jpg', alt='')
      a.slide-ico(href=''): img(src="images/icons/ico-eye.svg", alt="")
    .slide(style="background: url('images/slider2.jpg') no-repeat center center / cover")
      .slide-text-wrapper
        .slide-text
          span.animatable Возьми с собой
          span.animatable на отдых мнушку
        a.slide-link.animatable(href='') ПЕРЕЙТИ В КАТАЛОГ
      .slide-toy
        img.mainimg.animatable(src='images/slider-toy.png', alt='')
        img.shadow.animatable(src='images/icons/slider-shadow.svg', alt='')
      img.slide-back(src='images/icons/mask-big.svg', alt='')
      img.slide-img(src='images/slider2.jpg', alt='')
      a.slide-ico(href=''): img(src="images/icons/ico-eye.svg", alt="")
    .slide(style="background: url('images/slider1.jpg') no-repeat center center / cover")
      .slide-text-wrapper
        .slide-text
          span.animatable Возьми с собой
          span.animatable на отдых мнушку
        a.slide-link.animatable(href='') ПЕРЕЙТИ В КАТАЛОГ
      .slide-toy
        img.mainimg.animatable(src='images/slider-toy.png', alt='')
        img.shadow.animatable(src='images/icons/slider-shadow.svg', alt='')
      img.slide-back(src='images/icons/mask-big.svg', alt='')
      img.slide-img(src='images/slider1.jpg', alt='')
      a.slide-ico(href=''): img(src="images/icons/ico-eye.svg", alt="")
    .slide(style="background: url('images/slider2.jpg') no-repeat center center / cover")
      .slide-text-wrapper
        .slide-text
          span.animatable Возьми с собой
          span.animatable на отдых мнушку
        a.slide-link.animatable(href='') ПЕРЕЙТИ В КАТАЛОГ
      .slide-toy
        img.mainimg.animatable(src='images/slider-toy.png', alt='')
        img.shadow.animatable(src='images/icons/slider-shadow.svg', alt='')
      img.slide-back(src='images/icons/mask-big.svg', alt='')
      img.slide-img(src='images/slider2.jpg', alt='')
      a.slide-ico(href=''): img(src="images/icons/ico-eye.svg", alt="")