//
// Partials -> Card
// ------------------------------------


.card {
  &-inner {
    h2 {
      margin-top: 0;
    }
    .image-gallery {
      background-color: #EFF0F4;
    }
    a:not(.btn) {
      color: #69c4e8;
    }
    .header-left-social--twitter,
    .header-left-social--instagram,
    .header-left-social--facebook,
    .header-left-social--vk {
      margin: 0;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      background-size: 110px auto;
    }
    .zoom {
      width: 64px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      text-align: center;
      i {
        font-size: 24px;
      }
      span {
        display: block;
        text-decoration: none;
      }
    }
    .fav-button--attached {
      top: auto;
      bottom: 0;
      left: 14px;
      span {
        display: block;
        color: #b7b7b7;
        text-align: center;
      }
    }
    .fav-button::before {
      margin-right: 0;
    }
    .btn__icon {
      padding-left: 36px;
      padding-right: 24px;
      &::before {
        left: 9px;
      }
    }
  }
  &-share {
    padding-top: 3px;
    margin-bottom: 36px;
    li:first-child {
      margin-right: 43px;
      @media (min-width: $screen-desktop) {
        margin-right: 80px;
      }
    }
  }
  &-slider {
    &.row {
      margin: 0;
    }
    .cell {
      padding-left: 0;
      padding-right: 0;
    }
    a {
      text-decoration: none;
      color: #b7b7b7;
    }
    &__item {

    }
  }
  &-icons {
    margin-top: 36px;
    margin-bottom: 21px;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 300;
    a:not(.btn) {
      color: #4a4a4a;
    }
    img { margin-right: 19px;}
  }
  &-list {
    margin-top: 20px;
    font-size: 15px;
    @media (min-width: $screen-tablet) {
      margin-top: 50px;
    }
    .cardColor__item {
      margin: 4px;
    }
    &__item {
      margin-bottom: 19px;
      //vertical-align: top;
      display: table;
      width: 100%;
      .name {
        width: 70px;
        min-width: 70px;
        display: table-cell;
        font-weight: 300;
        vertical-align: middle;
      }
      .desc {
        //padding-left: 5px;
        display: table-cell;
        font-weight: 400;
        vertical-align: middle;
      }
    }
  }
  &-description {
    font-weight: 400;
    line-height: 21px;
    .title {
      font-weight: 300;
      line-height: 36px;
      display: block;
    }
  }
  &-price {
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 32px;
    .price-new {
      font-size: 36px;
      font-weight: 700;
      color: #424242;
    }
    .price-old {
      font-size: 15px;
      font-weight: 400;
      color: #cdcdcd;
      text-decoration: line-through;
    }
    .btn__icon {
      padding-left: 36px;
      padding-right: 17px;
      min-width: inherit;
    }
  }
  &-i {
    display: table;
    width: 100%;
    margin-bottom: 21px;
    li {
      display: table-cell;
    }
  }
  &-mat {
    background-color: #f4f4f4;
    padding: 48px 0;
  }
}

.cardSize {
  &__item {
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 18px;
    margin: 5px;
    display: inline-block;
    &.active {
      color: #fff;
      background-color: $color-type-1b;
    }
  }
}