//
// Partials -> Filter
// ------------------------------------

.accordion {
  display: none;
  @media (min-width: $screen-adaptive-nav) {
    display: block !important;
  }
}
.accordion > ul{
  padding: 0;
  > li{
    font-size: 15px;
    font-weight:300;
    color: #424242;
    position: relative;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding-bottom: 15px;
    i {
      position: absolute;
      top: 10px;
      right: 5px;
      &:before {
        font-family: "clo";
        content: '\f107';
      }
    }
    &.active i:before {
      content: "\f106";
    }
    .accordion-item {
      padding: $padding-large-vertical - 3;
      font-size: 16px;
      font-weight: 500;
      @media (min-width: $screen-adaptive-nav) {
        max-height: 340px;
        overflow-y: auto;
      }
      label {
        font-weight:300;
        font-size: 15px;
      }
    }
    .accordion-title {
      cursor: pointer;
      padding: 5px 0;
      label {
        color: #424242;
        font-weight: 500;
      }
    }
    .form-control {
      background: $color_black_haze_approx;
      border-color: $color_black_haze_approx;
    }
    .cell__xs-5 {
      padding: 0;
    }
    .range-dot {
      line-height: 43px;
    }
  }
}
.range-slider {
  .form-control {
    text-align: right;
    padding: 11px 6px;
  }
  &__item {
    position: relative;
  }
  label {
    position: absolute;
    top: 15px;
    left: 10px;
  }
}

.accordion-title-js {
  .tabs-accordion-title {
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      border-bottom: 1px dotted transparent;
      text-decoration: nofilterne;
    }
  }
  i:before {
    content: "\f106";
  }
  &.active {
    i:before {
      content: "\f0d8";
    }
  }
}

.filter-title {
  background: #f3f3f3;
  padding: 0 20px;
  height: 60px;
  h4 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.collapse__elem {
  &-title {
  }
  &-body {
    display: none;
  }
  .text--default {
    color: #cecece;
  }
}

.cardColor {
  margin-left: -6px;
  display: inline-block;
  @media (min-width: $screen-desktop) {
    margin-left: -7px;
  }
  &__item {
    margin: 6px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    @media (min-width: $screen-desktop) {
      margin: 7.5px;
    }
    &--close {
      height: 36px;
      width: 36px;
      cursor: pointer;
      background: url("../images/icons/color-1.svg") no-repeat 0 0;
      @include transition();
      &:hover {
        background-position: 0 -36px;
      }
    }
    img {
      vertical-align: middle;
    }
    span {
      width: 36px;
      height: 36px;
      display: block;
      &.circle {
        @include border-radius(50%);
        @include transition();
        &:hover {
          @include border-radius(5px);
        }
      }
    }
    &.active {
      .circle {
        @include border-radius(5px);
      }
      &::before {
        font-family: "clo";
        content: '\f107';
        color: #fff;
        position: absolute;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 12px;
        width: 10px;
      }
    }
  }
}

.filter {
  @media (min-width: $screen-adaptive-nav) {
    .filter-title { display: none;}
  }
}

.topline__body--js {
  @media (max-width: $screen-sm-max) {
    height: 100%;
    min-width: 260px;
    //width: calc(100% - 60px);
    width: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: -100%;
    @include transition(0.5s);
    background-color: #fff;
    &.active {
      right: 0;
    }
    .accordion {display: block; padding: 30px;}
  }
}