//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
//.page-footer {
//  padding-top: 20px;
//  padding-bottom: 20px;
//  border-top: 1px solid $gray-darken;
//  &__authors { }
//  &__copyrights { }
//}