//
// Partials -> Header
// ------------------------------------

.mobile-bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
}

//
// Header
//
//.page-header {
//  border-bottom: 1px solid $base-color-darken;
//  @include clearfix();
//  &__logo {
//    float: left;
//    a {text-decoration: none;}
//    img {
//      vertical-align: middle;
//      max-width: 60px;
//    }
//    span {
//      vertical-align: middle;
//      margin-left: 10px;
//    }
//  }
//}
//.main-nav {
//  margin-top: 8px;
//  @media (min-width: $screen-md-min) {
//    float: right;
//  }
//}

//
// Main title
//
//.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }