//
// Partials -> Main
// ------------------------------------

body {
  &.js {
    overflow: hidden;
    @media (min-width: $screen-tablet) {
      overflow: auto;
    }
  }
}
main {
  position: relative;
  overflow: hidden;
  .main {

    left: 0;
    @include transition(0.5s);
  }
  &.active .main {
    left: 320px;
    .topline {
      left: 320px;
    }
    .topline-filtr {
      opacity: 0;
      left: 320px;
    }
  }
  @media (min-width: $screen-tablet) {
    position: static;
  }
}
.main {
  position: relative;
  right: 0;
  @include transition(0.5s);
  &.active {
    right: 100%;
    .topline {
      right: 100%;
      left: auto;
    }
    .topline-filtr {
      //opacity: 0;
      right: 100%;
      left: auto;
    }
  }

  @media (min-width: $screen-tablet) {
    position: static;
  }
}
.shadow--js {
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: -120px;
  left: -60px;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  @include transition(0.5s ease 0.5s);
  &.js {
    opacity: 1;
    z-index: 1001;
    @media (min-width: $screen-tablet) {
      opacity: 0;
    }
  }
}
.mclose-btn {
  position: absolute;
  top: 0;
  right: -60px;
  z-index: 10;
  cursor: pointer;
  background-color: $white;
  img {
    vertical-align: middle;
  }
  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.tabs {
  &__caption {
    margin-bottom: 25px;
    li {
      margin-bottom: 5px;
      display: block;
      @media (min-width: $screen-desktop) {
        display: inline-block;
      }
      span {
        color: #424242;
        padding: 14px 10px;
        background-color: #f7f7f7;
        border: none;
        border-radius: 22px;
        height: 45px;
        cursor: pointer;
        display: block;
      }
      &:hover span,
      &.active span{
        color: #fff;
        background-color: $color-type-1b;
      }
    }
  }

  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.radio-btn {
  input {
    display: none;
  }
  label {
    color: #424242;
    padding: 14px 20px;
    background-color: #f7f7f7;
    border: none;
    font-size: 15px;
    @include border-radius(50px);
    min-height: 45px;
    cursor: pointer;
    display: block;
  }
  input:checked + label {
    color: #fff;
    background-color: $color-type-1b;
  }
}

.step {
  display: block;
  height: 7px;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #a0a0a0;
  margin: 40px 0 67px;
  @include clearfix();
  .dot {
    width: 7px;
    height: 7px;
    background-color: #d7d7d7;
    @include border-radius(50%);
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__item {
    display: block;
    float: left;
    position: relative;
    width: 20%;
    &:first-child .dot {
      right:auto;
    }
    &:last-child .dot {
      left:auto;
    }
    &::before {
      content: '';
      height: 7px;
      background-color: #d7d7d7;
      position: absolute;
      left:0;
      top: 0;
    }
    &.done::before {
      width: 100%;
    }
    &.active::before {
      width: 50%;
    }
    &:first-child.active::before {
      width: 0;
    }
    &:nth-child(2).active::before {
      width: 25%;
    }
    &:nth-child(4).active::before {
      width: 74%;
    }
    &:last-child.active::before {
      width: 100%;
    }
  }
  p {
    margin-top: 16px;
    display: inline-block;
    position: relative;
  }
  .active {
    color: #424242;
  }
  .active {
    .dot {
      width: 15px;
      height: 15px;
      top: -20px;
    }
  }
}

.icons {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #f7f7f7;
  border-radius: 5px;
  position: relative;
  img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
}

.validate {
  display: inline-block;
  position: absolute;
  top: 19px;
  //bottom: 0;
  right: -10px;
  margin:auto;
  width: 9px;
  height: 9px;
  @include border-radius(50%);
  //line-height: 45px;
  //margin-top: 18px;
  @media (min-width: $screen-desktop) {
    right: -20px;
  }
  .error & {
    background-color: #f92e50;
  }
  .neut & {
    background-color: #f3f3f3;
  }
  .success & {
    background-color: #91e762;
  }
}

.relative {
  position: relative;
}

.reg-form {
  padding: 30px;
  border: 7px solid #f7f7f7;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  @media (min-width: $screen-desktop) {
    padding: 30px 68px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 33px;
  }
  //.cell__xs-2 {
  //  width: 13.667%;
  //}
  //.cell__xs-11 {
  //  width: 88.667%;
  //}
}

.soc-form {
  background: url('../images/icons/soc-back-34.svg') bottom right 82px no-repeat, #f7f7f7;
  border-radius: 15px;
  padding: 30px 31px;
  .btn {
    background-color: white;
    border-radius: 22px;
    color: #2c2c2c;
    text-align: left;
    padding-left: 60px;
    position: relative;
    width: 100%;
    &::before {
      content: '';
      height: 45px;
      width: 45px;
      display: inline-block;
      background: url("../images/icons/social-order.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      left: 0;
      top: 0;
    }
    &--vk::before {
      background-position: 0 0;
    }
    &--go::before {
      background-position: -180px 0;
    }
    &--tw::before {
      background-position: -45px 0;
    }
    &--odn::before {
      background-position: -135px 0;
    }
    &--fa::before {
      background-position: -90px 0;
    }
    &:hover {
      background-color: #ddd;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 33px;
  }
}
.notice {
  margin-top: 30px;
  margin-left: 32px;
  line-height: 1.3;
}

.first-block {
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 30px 20px 10px;
  @media (min-width: $screen-phone) {
    padding: 40px 67px 20px;
  }
  .desc {
    min-height: 90px;
    margin-bottom: 21px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 27px;
  }
}
.delivery-block {
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 30px 15px;
  margin-bottom: 30px;
  @media (min-width: $screen-phone) {
    padding: 30px 35px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
  }
  &--trs {
    background-color: white;
    border: 7px solid #f3f3f3;
  }
  &--inner {
    margin-bottom: 0;
  }
  &--top {
    margin-top: -9px;
    @include border-top-radius(0);
    position: relative;
    z-index: -1;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &--trsj {
    background-color: #f3f3f3;
    border: 7px solid #f3f3f3;
    &.active {
      //border: 7px solid #f3f3f3;
      background-color: white;
    }
  }
  &--h {
    height: 310px;
    padding: 20px 35px;
    @media (min-width: $screen-phone) {
      height: 239px;
      padding: 30px 35px;
    }
    @media (min-width: $screen-tablet) {
      height: 310px;
      padding: 40px 35px;
    }
    @media (min-width: $screen-desktop) {
      height: 239px;
      padding: 40px 35px;
    }
    h3 {
      //margin-bottom: 10px;
    }
    p {
      line-height: 21px;
    }
  }
  .list--inline li {
    padding: 7.5px;
  }
}

.radiotab--content {
  //line-height: 21px;
  display: none;
  &.active {
    display: block;
  }
}

.pickpoint {
  &-list {
    max-height: 428px;
    overflow-y: auto;
   &__item {
      cursor: pointer;
     border-radius: 5px;
     padding: 29px 20px 20px;;
     position: relative;
     &.active {
       background-color: #f3f3f3;
     }
     .inner {
       padding: 0 40px;
     }
     .num {
       background: url("../images/icons/pic-num.svg") no-repeat center center;
       color: white;
       font-size: 13px;
       text-align: center;
       display: inline-block;
       width: 24px;
       height: 27px;
       line-height: 20px;
       position: absolute;
       top: 34px;
       left: 18px;
       &.choose {
         background: url("../images/icons/pic-num-ac.svg") no-repeat center center;
       }
     }
     .length {
       position: absolute;
       top: 34px;
       right: 27px;
     }
   }
  }
}

.contacts-block {
  margin-top: 22px;
  &__item {
    margin-bottom: 22px;
    .inner {
      display: inline-block;
      vertical-align: bottom;
      span {
        margin-bottom: 8px;
        display: block;
      }
      &--s {
        width: 60px;
      }
      &--l {
        width: 73%;
      }
      //@media (min-width: $screen-phone) {
      //  &--s, &--l {
      //    width: auto;
      //  }
      //}
      //@media (min-width: $screen-tablet) {
      //  &--s {
      //    width: 60px;
      //  }
      //  &--l {
      //    width: 73%;
      //  }
      //}
      //@media (min-width: $screen-desktop) {
      //  &--s, &--l {
      //    width: auto;
      //  }
      //}
    }
    .edit {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 18px;
      @include border-radius(50%);
      width: 45px;
      height: 45px;
      background-color: white;
      text-align: center;
      line-height: 55px;
    }
  }
  .btn {
    font-weight: 300;
    font-size: 15px;
    border-radius: 22px;
    border-color: #fff;
  }
}

.popular-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 7;
  background: #fff;
  li {
    span {
      color: #a0a0a0;
      font-size: 13px;
      display: block;
      padding: 12px 60px;
    }
    a {
      color: #424242;
      font-size: 16px;
      padding: 12px 70px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

.typing {
  h1 {color: #7f3b96;}
  h2 { margin: 30px 0;}
  line-height: 24px;
  .card-share  {
    margin: 10px 0;
    li:first-child {
      margin-right: 4px;
    }
  }
  &-inner {
    h1 {margin-bottom: 30px;}
    p {
      margin-bottom: 20px;
      font-size: 15px;
    }
    .list--bullet {
      font-size: 15px;
    }
    img {
      //margin: 20px 0;
    }
  }
  .tags {
    margin: 30px 0;
  }
}