//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: $breadcrumb-bg;
    @media (min-width: $screen-tablet) {
      margin-bottom: 40px;
    }

    > li {
      display: inline-block;

      a {
        font-size: 13px;
        font-weight: 300;
        color: $breadcrumb-color;
        text-decoration: none;
      }


      &.active {
        color: $breadcrumb-active-color;
      }
    }
    > li + li {
      &:before {
        content: " • ";
        padding: 0 5px;
        color: $breadcrumb-color;
      }
    }
  }
}