//
// Pages -> Index
// ------------------------------------

//original selectors
//.topline .topline-logo, .topline .topline-quote, .topline .topline-phone, .topline .topline-mailus, .topline .topline-search, .topline .topline-shoppingCart
%extend_2 {
  display: inline-block;
  //float: left;
  height: 60px;
  line-height: 60px;
  font-family: $font_1;
  vertical-align: top;
  font-size: 15px;
  color: $color_cape_cod_approx;
  margin-top: -2px;
  @media (min-width: $screen-desktop) {
    font-size: 16px;
  }
}

//original selectors
//.header-left-social--vk, .header-left-social--facebook, .header-left-social--instagram, .header-left-social--twitter
%extend_4 {
  width: 26px;
  height: 26px;
  background: $url_2 no-repeat;
  @media (min-width: $screen-desktop) {
    margin-right: 10px;
    width: 28px;
    height: 28px;
  }
}

//original selectors
//.slider-arrow-left, .slider-arrow-right
%extend_5 {
  cursor: pointer;
  width: 28px;
  height: 48px;
  background: $url_6 no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 19;
}
%extend_5g {
  cursor: pointer;
  height: 48px;
  background: $url_6 no-repeat;
  position: absolute;
  top: 130px;
  z-index: 19;
  width: 21px;
  background-size: 41px auto;
  @media (min-width: $screen-adaptive-nav) {
    width: 28px;
    background-size: auto;
  }
}

//original selectors
//#content #catalog-section.similar-goods .similar-prev-button, #content #catalog-section.similar-goods .similar-next-button
%extend_6 {
  width: 33px;
  height: 34px;
  position: absolute;
  background: $url_8 no-repeat;
}

//original selectors
//.toy-bottom--price, .toy-bottom--basketButton
%extend_7 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 21px;
}

//original selectors
//#social-header_count, .social-header_subscribe-button
%extend_8 {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  display: inline-block;
  width: 128px;
  height: 50px;
  line-height: 50px;
  color: $white;
  font-size: 13px;
}

//original selectors
//.social-footer_vk, .social-footer_fb, .social-footer_inst
%extend_9 {
  height: 60px;
  width: 60px;
  background: $url_19;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -46px;
}

//original selectors
//.social-footer_vk:after, .social-footer_fb:after, .social-footer_inst:after
%extend_10 {
  display: block;
  width: 80px;
  height: 10px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 74px 75px 75px 74px/9px;
  background-color: $color_gallery_approx;
  position: relative;
  content: '';
  top: 62px;
  right: 14px;
}

//original selectors
//.footer-top-1, .footer-top-2
%extend_11 {
  //float: left;
  //height: 60px;
  line-height: 60px;
  //width: 330px;
}

//original selectors
//div.mnushka, ul.footer-ul
%extend_12 {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

//original selectors
//span.gray-13, span.gray-15
%extend_13 {
  display: block;
  font-size: 13px;
  color: $color_star_dust_approx;
  font-weight: 300;
}

//original selectors
//span.order-price--val, span.order-sale--val, span.order-sum--val
%extend_14 {
  display: block;
  font-size: 21px;
  font-weight: 600;
  color: $color_gravel_approx;
  padding-top: 2px;
}


.no-padding {
  padding: 0 !important;
}
* {
  box-sizing: border-box;
  font-family: $font_0;
}
html {
  @extend %extend_1;
}
body {
  @extend %extend_1;
  line-height: 1;
}
div {
  @extend %extend_1;
  &.prevshadow {
    width: 47px;
    height: 6px;
    border-radius: 23px 24px 24px 23px/3px;
    background-color: $color_iron_approx;
    margin: 0 auto;
  }
  &.mnushka {
    @extend %extend_12;
    margin: 20px 0 40px;
    position: relative;
    @media (min-width: $screen-adaptive-nav) {
      margin: 40px 22px 50px 40px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      max-width: 180px;
      height: 20px;
      background: $color_mercury_approx;
      bottom: -40px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 220px / 25px;
    }
  }
  &.search {
    position: fixed;
    height: 60px;
    background: $color_concrete_approx;
    width: 100%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    display: none;
  }
  &.close-search {
    background: $url_21;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  &.order {
    border: 7px solid $color_concrete_approx;
    padding: 22px 18px;
    @include border-radius(15px);
    &--long {
      display: table;
      width: 100%;
      padding: 12px 18px;
      margin-bottom: 20px;
      .order-price,
      .order-sum,
      .order-overall,
      .order-num {
        border: none;
        padding: 0;
        @media (min-width: $screen-adaptive-nav) {
        }
      }
    }
    &__item {
      display: block;
      text-align: center;
      padding: 10px;
      @media (min-width: $screen-adaptive-nav) {
        padding: 0;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
  &.order-num {
    color: $color_cape_cod_approx;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid $wild_sand;
    padding-bottom: 14px;
  }
  &.order-overall {
    line-height: 40px;
    font-size: 13px;
    color: $color_cape_cod_approx;
    font-weight: 500;
    border-bottom: 1px solid $wild_sand;
  }
  &.order-price {
    padding: 15px 0 12px;
  }
  &.order-sale {
    padding: 15px 0 10px;
  }
  &.order-sum {
    margin-top: 6px;
    border-top: 1px solid $wild_sand;
    padding-top: 16px;
  }
}
.makeorder {
  position: relative;
  width: 220px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: $white;
  font-size: 15px;
  padding: 10px;
  font-weight: 700;
  background: $color_radical_red_approx;
  margin: 20px auto;
  cursor: pointer;
  display: inline-block;
  line-height: 1.6;
  text-decoration: none;
}
span {
  @extend %extend_1;
  &.bullet {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color_alto_approx;
    display: inline-block;
    margin: 0 18px 1px 20px;

    @media (min-width: $screen-adaptive-nav) {
      margin: 0 7px 1px 14px;
    }
  }
  &.gray-13 {
    @extend %extend_13;
  }
  &.gray-15 {
    @extend %extend_13;
    font-size: 15px;
  }
  &.order-price--val {
    @extend %extend_14;
  }
  &.order-sale--val {
    @extend %extend_14;
    color: $color_carnation_approx;
  }
  &.order-sum--val {
    @extend %extend_14;
    font-size: 30px;
    padding-top: 4px;
  }
}
applet {
  @extend %extend_1;
}
object {
  @extend %extend_1;
}
iframe {
  @extend %extend_1;
}
h1 {
  @extend %extend_1;
}
h2 {
  @extend %extend_1;
}
h3 {
  @extend %extend_1;
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
p {
  @extend %extend_1;
  &.td-info--title {
    font-size: 13px;
    font-weight: lighter;
    color: $color_star_dust_approx;
    padding-top: 10px;
  }
  &.td-info--name {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    color: $color_cape_cod_approx;
    max-width: 190px;
    line-height: 1.2;
    @media (min-width: $screen-adaptive-nav) {
      line-height: 21px;
      height: 40px;
    }
  }
  &.td-info--size {
    color: $color_gravel_approx;
    font-size: 13px;
    padding-top: 10px;
    @media (min-width: $screen-adaptive-nav) {
      padding-top: 30px;
    }
  }
  &.td-select--art {
    font-size: 13px;
    color: $color_pink_swan_approx;
    letter-spacing: 0.03em;
    padding-top: 10px;
  }
  &.td-select--price {
    margin-top: 14px;
    font-size: 21px;
    color: $color_gravel_approx;
    margin-left: -2px;
    font-weight: 700;
  }
}
blockquote {
  @extend %extend_1;
  quotes: none;
  &:before {
    content: '';
    content: none;
  }
  &:after {
    content: '';
    content: none;
  }
}
pre {
  @extend %extend_1;
}
a {
  @extend %extend_1;
  &.category-header--all {
    padding-top: 8px;
    text-decoration: none;
    float: right;
    color: $color_honey_flower_approx;
    font-size: 16px;
  }
  &.logo {
    background: $url_0;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    float: left;
    @media (min-width: $screen-adaptive-nav) {
      float: none;
    }
  }
  &.all {
    position: absolute;
    right: 0;
    top: 7px;
    line-height: 35px;
    font-size: 16px;
    color: $color_honey_flower_approx;
    text-decoration: none;
    padding: 0 11px;
    background-color: #f7f7f7;
    border-radius: 17px;
    display: none;
    @media (min-width: $screen-sm) {
      display: inline-block;
    }
  }
  &.conditions {
    color: $color_viking_approx;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: block;
    width: 100%;
  }
}
abbr {
  @extend %extend_1;
}
acronym {
  @extend %extend_1;
}
address {
  @extend %extend_1;
}
big {
  @extend %extend_1;
}
cite {
  @extend %extend_1;
}
code {
  @extend %extend_1;
}
del {
  @extend %extend_1;
}
dfn {
  @extend %extend_1;
}
em {
  @extend %extend_1;
}
img {
  @extend %extend_1;
}
ins {
  @extend %extend_1;
}
kbd {
  @extend %extend_1;
}
q {
  @extend %extend_1;
  quotes: none;
  &:before {
    content: '';
    content: none;
  }
  &:after {
    content: '';
    content: none;
  }
}
s {
  @extend %extend_1;
}
samp {
  @extend %extend_1;
}
small {
  @extend %extend_1;
}
strike {
  @extend %extend_1;
}
strong {
  @extend %extend_1;
}
sub {
  @extend %extend_1;
}
sup {
  @extend %extend_1;
}
tt {
  @extend %extend_1;
}
var {
  @extend %extend_1;
}
b {
  @extend %extend_1;
}
u {
  @extend %extend_1;
}
i {
  @extend %extend_1;
}
center {
  @extend %extend_1;
}
dl {
  @extend %extend_1;
}
dt {
  @extend %extend_1;
}
dd {
  @extend %extend_1;
}
ol {
  @extend %extend_1;
  list-style: none;
}
ul {
  @extend %extend_1;
  list-style: none;
  &.footer-ul {
    border-bottom: 1px solid #e6e6e6;
    @media (min-width: $screen-adaptive-nav) {
      margin-top: 33px;
      margin-left: 35px;
      margin-right: 53px;
      border-bottom: none;
    }
    &:last-child {
      margin-right: 0;
    }
    li {
      font-weight: 500;
      padding: 7px 0;
      cursor: pointer;
      display: block;
      font-size: 15px;
      &.footer-acc--title {
        position: relative;
        padding: 15px 0;
        &::after {
          content: '';
          width: 17px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 20px;
          background: url('../images/icons/ico-plus.svg') center center no-repeat;
          @include transition();
          @media (min-width: $screen-adaptive-nav) {
            display: none;
          }
        }
        &:hover::after {
          transform: rotate(45deg);
        }
      }
      @media (min-width: $screen-adaptive-nav) {
        font-size: 16px;
        margin: 14px 0 -2px;
        padding: 0;
        &.footer-acc--title {
          padding: 0;
        }
      }
      a {
        text-decoration: none;
        color: $color_cape_cod_approx;
        font-weight: 300;
        letter-spacing: -0.07em;
        &:hover {
          color: $color_radical_red_approx;
          text-decoration: underline;
        }
      }
    }
    &.active .footer-acc--title::after {
      transform: rotate(45deg);
    }
    &:first-child {
      @media (min-width: $screen-adaptive-nav) {
        margin-left: 0;
      }
    }
  }
  &#catalog-dropdown {
    //z-index: 9;
    width: 100%;
    background: $color_vivid_violet_approx;
    border-radius: 5px;
    margin-top: 22px;
    @media (min-width: $screen-adaptive-nav) {
      position: absolute;
      margin-top: 0;
      left: 0;
      border-radius: 0;
      width: 250px;
      top: 0;
      background: $white;
      z-index: 40;
    }
    li {
      width: 100%;
      text-align: left;
      padding: 15px 60px 15px 30px;
      display: none;
      background: $color_vivid_violet_approx;
      @media (min-width: $screen-adaptive-nav) {
        padding: 15px 30px 15px 60px;
      }
      &:nth-child(1) {
        display: inline-block;
        position: relative;
        border-radius: 5px;

        &:before {
          content: '';
          right: 11px;
          width: 36px;
          height: 37px;
          top: 5px;
          background: $url_22;
          background-position: -36px 0;
          display: block;
          position: absolute;
        }
        @media (min-width: $screen-adaptive-nav) {
          background: $white;
          border-radius: 0;
          a {
            color: $color_vivid_violet_approx;
          }
          &:hover {
            background: $white;
          }
          &:before {
            background: url('../images/dropdown.png');
            left: 11px;
            top: 11px;
            right:auto;
            background-position: 0;
          }
        }
      }
      a {
        color: $white;
        font-weight: 500;
        text-decoration: none;
        font-size: 15px;
        display: block;
        line-height: 15px !important;
      }
      &:hover {
        background: $color_honey_flower_approx;
        cursor: pointer;
      }
      &.title.active {
        background: #803b96;
        a {
          color: white;
        }
        &:before {
          background: $url_22;
          background-position: -36px 0;
        }
      }
    }
  }
}

.accordion-title-t {
  position: relative;
  padding-right: 26px;
  &::after {
    content: '';
    width: 17px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5px;
    background: url('../images/ico-plus.png') center center no-repeat;
    @include transition();
  }
  &:hover::after {
    transform: rotate(45deg);
  }

  .active &::after {
    transform: rotate(45deg);
  }
}
.accordion-content {
  display: none;
  .active & {
    display: block;
  }
}
li {
  @extend %extend_1;
}
fieldset {
  @extend %extend_1;
}
form {
  @extend %extend_1;
}
label {
  @extend %extend_1;
}
legend {
  @extend %extend_1;
}
table {
  @extend %extend_1;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  @extend %extend_1;
}
tbody {
  @extend %extend_1;
}
tfoot {
  @extend %extend_1;
}
thead {
  @extend %extend_1;
}
tr {
  @extend %extend_1;
}
th {
  @extend %extend_1;
}
td {
  @extend %extend_1;
  &.td-info {
    padding: 25px 0 0 3px;
  }
  &.td-select {
    padding: 25px 0 0 10px;
  }
  &.td-image {
    padding: 25px 5px 0;
    text-align: center;
    vertical-align: middle !important;
  }
}
article {
  @extend %extend_1;
  display: block;
}
aside {
  @extend %extend_1;
  display: block;
}
canvas {
  @extend %extend_1;
}
details {
  @extend %extend_1;
  display: block;
}
embed {
  @extend %extend_1;
}
figure {
  @extend %extend_1;
  display: block;
}
figcaption {
  @extend %extend_1;
  display: block;
}
footer {
  @extend %extend_1;
  display: block;
}
header {
  @extend %extend_1;
  display: block;
}
hgroup {
  @extend %extend_1;
  display: block;
}
menu {
  @extend %extend_1;
  display: block;
}
nav {
  @extend %extend_1;
  display: block;
}
output {
  @extend %extend_1;
}
ruby {
  @extend %extend_1;
}
section {
  @extend %extend_1;
  display: block;
}
summary {
  @extend %extend_1;
}
time {
  @extend %extend_1;
}
mark {
  @extend %extend_1;
}
audio {
  @extend %extend_1;
}
video {
  @extend %extend_1;
}
.topline {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  background: $color_concrete_approx;
  .container {
    padding: 0;
    @media (min-width: $screen-adaptive-nav) {
      padding: 0 10px;
    }
  }
  a {
    @include transition(none);
  }
  &-filtr {
    position: fixed;
    z-index: 99;
    top: 60px;
    width: 100%;
    height: 60px;
    left: 0;
    right: 0;
    color: #fff;
    .container {
      padding: 0;
      @media (min-width: $screen-adaptive-nav) {
        padding: 0 10px;
      }
    }

    @media (min-width: $screen-adaptive-nav) {
      display: none;
    }
    a {color: #fff; text-decoration: none;}
    background: $color_sec;
    @include transition(0.5s);
    .inner {
      display: table;
      width: 100%;
      height: 60px;
      img {
        vertical-align: middle;
        margin-right: 15px;
      }
    }
    &__item {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .topline-logo {
    @extend %extend_2;
    background: $url_0 no-repeat;
    width: 60px;
    margin-left: -15px;
  }
  .topline-quote {
    @extend %extend_2;
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      background: $url_0 no-repeat;
      width: 60px;
      height: 60px;
      background-position: 16.6% 0;
      margin-top: -3px;
      margin-right: 8px;
    }
  }
  .topline-phone {
    @extend %extend_2;
    width: 50px;
    text-decoration: none;
    overflow: hidden;
    @media (min-width: $screen-adaptive-nav) {
      width: auto;
    }
    &:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      background: $url_0;
      background-position: 33.3% 0;
      width: 60px;
      height: 60px;
      margin-top: -3px;
      margin-right: -6px;
    }
  }
  .topline-mailus {
    @extend %extend_2;
    width: 50px;
    text-decoration: none;
    overflow: hidden;
    @media (min-width: $screen-adaptive-nav) {
      width: auto;
    }
  }
  .topline-search {
    @extend %extend_2;
    width: 46px;
    height: 60px;
    background: $url_0;
    background-position: 66.1% 0;
    @media (min-width: $screen-desktop) {
      width: 60px;
    }
  }
  .topline-shoppingCart {
    @extend %extend_2;
    width: 60px;
    height: 60px;
    background: $url_0;
    background-position: 83.1% 0;
    @media (min-width: $screen-desktop) {
      margin-left: 20px;
    }
  }
  .topline-shoppingCart--full {
    background-position: 98% 0;
  }
  .topline-mailus::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: $url_0;
    background-position: 49.9% 0;
    width: 60px;
    height: 60px;
    margin-top: -3px;
    margin-right: -6px;
  }
  &:hover {
    .topline-quote {
      &:before {
        background-position: 16.6% -60px;
      }
    }
    .topline-phone {
      &:before {
        background-position: 33.3% -60px;
      }
    }
    .topline-search {
      background-position: 66.1% -60px;
    }
    .topline-shoppingCart {
      background-position: 83.1% -60px;
    }
    .topline-shoppingCart--full {
      background-position: 98% -60px;
    }
    .topline-mailus::before {
      background-position: 49.9% -60px;
    }
  }
}
.header {
  margin-top: 80px;
  @media (min-width: $screen-desktop) {
    margin-top: 100px;
  }
}
.topline-filtr {
  + .header {
    margin-top: 120px;
    @media (min-width: $screen-tablet) {
      margin-top: 80px;
    }
    @media (min-width: $screen-desktop) {
      margin-top: 100px;
    }
  }
}
.header-left {
  @extend %extend_3;
}
.header-center {
  @extend %extend_3;
  margin: 3px 0 24px;
  position: relative;
}
.header-right {
  @extend %extend_3;
}
.header-left--annotation {
  font-size: 14px;
  line-height: 20px;
  color: $color_cape_cod_approx;
  font-weight: 400;
  padding-top: 13px;
  padding-bottom: 10px;
  @media (min-width: $screen-desktop) {
    font-size: 16px;
    padding-left: 8px;
  }
}
.header-left-news-button {
  display: inline-block;
  margin-right: 4px;
  @media (min-width: $screen-desktop) {
    margin-top: 30px;
    margin-right: 21px;
    margin-left: 8px;
  }
}
.header-left-social--vk {
  display: inline-block;
  @extend %extend_4;
  &:hover {
    background-position: 0 50%;
  }
  @media (min-width: $screen-desktop) {
    margin-top: 30px;
  }
}
.header-left-social--facebook {
  display: inline-block;
  @extend %extend_4;
  background-position: 20% 0;
  &:hover {
    background-position: 20% 50%;
  }
  @media (min-width: $screen-desktop) {
    margin-top: 30px;
  }
}
.header-left-social--instagram {
  display: inline-block;
  @extend %extend_4;
  background-position: 40% 0;
  &:hover {
    background-position: 40% 50%;
  }
  @media (min-width: $screen-desktop) {
    margin-top: 30px;
  }
}
.header-left-social--twitter {
  display: inline-block;
  @extend %extend_4;
  background-position: 60% 0;
  &:hover {
    background-position: 60% 50%;
  }
  @media (min-width: $screen-desktop) {
    margin-top: 30px;
  }
}
.header-center--annotation {
  color: $color_star_dust_approx;
  position: absolute;
  right: 20px;
  bottom: 0;
  @media (min-width: $screen-desktop) {
    bottom: 10px;
  }
}
.header-right--phone {
  font-size: 21px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-top: 15px;
  padding-left: 15px;
  @media (min-width: $screen-tablet) {
    padding-left: 0;
    font-size: 24px;
    color: $color_cape_cod_approx;
  }
  @media (min-width: $screen-desktop) {
    font-size: 28px;
    padding-right: 6px;
  }
  &:before {
    display: inline-block;
    margin-top: -3px;
    width: 28px;
    margin-right: 10px;
    height: 28px;
    vertical-align: middle;
    background: url("../images/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    content: "";

    @media (min-width: $screen-tablet) {
      background: $url_2;
      background-position: 100%;
    }
  }
}
.header-right--phone-text {
  color: #fff;
  margin-left: 53px;
  font-size: 13px;
  padding-top: 3px;
  padding-right: 6px;
  @media (min-width: $screen-tablet) {
    color: $color_star_dust_approx;
    margin-left: 0;
    font-size: 14px;
  }
}
.social-ico {
  margin-left: 53px;
  margin-top: 40px;
  margin-bottom: 30px;
  a {
    margin-right: 18px;
  }
}
.search--ico {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  input[type="search"] {
    height: 60px;
    font-size: 15px;
    background: url('../images/icons/lupe.svg') no-repeat center left, #532075;
    color: #fff;
    border: none;
    padding: 17px 17px 17px 53px;
    width: 100%;
  }
  @media (min-width: $screen-tablet) {
    display: none;
  }
}
.header-right--callback {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: $color_viking_approx;
  margin-top: 10px;
  @media (min-width: $screen-desktop) {
    text-align: left;
    margin-top: 24px;
    padding-left: 57px;
  }
  &:before {
    background: $url_2;
    background-position: 80%;
    content: "";
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 14px;
  }
}
.menu-dropdown {
  background: url("../images/icons/buy_mnu.svg") no-repeat bottom right 30px, $color_honey_flower_approx;
  width: 100%;
  margin: 0 auto 0 auto;
  display: none;
  &.active {
    display: block;
  }
  @media (min-width: $screen-adaptive-nav) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 0;
    top: 93%;
    right: 0;
    z-index: 20;
    padding: 20px;
  }
  @media (min-width: $screen-desktop) {
    padding: 30px 30px 30px 40px;
  }
  ul li {
    display: block !important;
    position: relative;
    &.heading {
      @media (min-width: $screen-adaptive-nav) {
        &:before {
          content: '';
          display: inline-block;
          width: 6px;
          height: 7px;
          background: $url_4 no-repeat;
          position: absolute;
          top: 13px;
          left: -5px;
        }
      }
      a {
        font-weight: bolder !important;
        line-height: 1.2 !important;
        padding: 10px;
        border-bottom: 1px solid #fff;
        @media (min-width: $screen-adaptive-nav) {
          padding-left: 5px !important;
          padding-top: 7px;
          padding-bottom: 7px;
          border-bottom: none;
        }
        &:hover {
          color: $color_picton_blue_approx;
          text-decoration: underline;
        }
      }
    }
    a {
      font-weight: lighter !important;
      line-height: 1.2 !important;
      padding: 10px;
      border-bottom: 1px solid #fff;
      @media (min-width: $screen-adaptive-nav) {
        padding-left: 10px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: none;
      }
      &:hover {
        color: $color_picton_blue_approx;
        text-decoration: underline;
      }
      @media (min-width: $screen-desktop) {
        padding-left: 6px !important;
      }
    }
    &:hover {
      background: transparent !important;
    }
  }
}
.menu-dropdown-wrapper {
  @media (min-width: $screen-desktop) {
    padding-right: 60px;
  }
}
.parent {
  position: relative;
  @media (min-width: $screen-adaptive-nav) {
    position: static;
  }
  &:hover .menu-dropdown {
    @media (min-width: $screen-adaptive-nav) {
      display: block;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    &::after {
      content: '' !important;
    }
  }
}
.menu {
  background: $color_vivid_violet_approx;
  border-radius: 5px;
  position: relative;
  min-height: 0;
  @media (min-width: $screen-adaptive-nav) {
    padding: 0 5px;
    margin: 16px auto 10px;
    min-height: 45px;
  }
  @media (min-width: $screen-desktop) {
    padding: 0 20px;
  }
  ul {
    list-style: none;
    li {
      display: block;
      @media (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
      a {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        display: block;
        padding: 10px 38px 10px 53px;
        line-height: 1.4;
        @media (min-width: $screen-adaptive-nav) {
          padding: 4px 5px;
          display: inline-block;
          line-height: 45px;
        }
        @media (min-width: $screen-desktop) {
          font-size: 15px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
      &:hover {
        background: $color_honey_flower_approx;
      }
      @media (min-width: $screen-adaptive-nav) {
        &:first-child:hover {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
      }
    }
  }
}
.slider {
  max-width: 1124px;
  margin: 0 auto;
}
.slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide-text-wrapper {
  position: absolute;
  z-index: 3;
  top: -35px;
  left: 20px;
  width: 240px;
  @media (min-width: $screen-desktop) {
    top: 178px;
    left: 111px;
    width: 400px;
  }
}
.slide-text {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -.03em;
  color: $white;
  height: 80px;
  @media (min-width: $screen-desktop) {
    font-size: 40px;
    height: 120px;
  }
  span {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
      overflow: hidden;
    background: $color_radical_red_approx;
    padding: 0 18px;
    line-height: 40px;
    @media (min-width: $screen-desktop) {
      line-height: 60px;
      + span {
        margin-top: -15px;
      }
    }
    &:first-child {
      border-radius: 5px 5px ;
    }
    &:last-child {
      border-radius: 5px 5px 5px;
      @media (min-width: $screen-desktop) {
        border-radius: 5px 5px;
      }
    }
  }
}
.slide-toy {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 60px;
  left: 0;
  margin: auto;
  width: 160px;
  .shadow {
    display: block;
    padding-bottom: 8.8%;
    margin: 3% auto 0;
  }

  @media (min-width: $screen-desktop) {
    right: 200px;
    top: 60px;
    left:auto;
    width: auto;
  }

}
.slide-back {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none !important;
  max-width: 101%;
  @media (min-width: $screen-desktop) {
    display: block !important;
  }
}
.slide-img {
  display: none !important;
  @media (min-width: $screen-desktop) {
    display: block !important;
  }
}
.slide-ico {
  position: absolute;
  bottom: -8px;
  left: 18px;
  z-index: 9;
  @media (min-width: $screen-desktop) {
    display: none;
  }
}
.single-item .slide {
  height: 260px;
  margin: 35px 0 40px;
  background: #fff;
  @media (min-width: $screen-desktop) {
    height:auto;
    margin: 0;
  }
  &.slick-current {
    background: transparent;
  }
}
.slide-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: $white;
  background: $color_vivid_violet_approx;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -.03em;
  padding: 12px 20px 15px 17px;
  border-radius: 5px;
  margin-top: -15px;
  display: none !important;
  @media (min-width: $screen-desktop) {
    display: inline-block !important;
  }
}
.top-slider {
  position: relative;
  margin: 0 auto;
  max-width: 1224px;
}
.slider-arrow-left {
  @extend %extend_5;
  left: 20px;
  @media (min-width: $screen-desktop) {
    left: 102px;
  }
}
.slider-arrow-right {
  @extend %extend_5;
  background-position: 100%;
  right: 20px;
  @media (min-width: $screen-desktop) {
    right: 102px;
  }
}
.slider-product .slick-prev {
  @extend %extend_5g;
  left: 20px;
  @media (min-width: $screen-desktop) {
    left: -50px;
  }
  &::before {
    display: none;
  }
}
.slider-product .slick-next {
  @extend %extend_5g;
  background-position: 100%;
  right: 20px;
  @media (min-width: $screen-desktop) {
    right: -50px;
  }
  &::before {
    display: none;
  }
}
#bottombaner {
  margin: 0 auto;
  @media (min-width: $screen-adaptive-nav) {
    margin: 36px auto 0;
  }
  div {
    background-color: transparent;
    position: relative;
    padding: 29px 0;
    @media (min-width: $screen-adaptive-nav) {
      background-color: $color_gallery_approx;
      height: 78px;
      padding: 0;
    }
  }
  p {
    font-family: $font_1, $font_2;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: $color_tuatara_approx;
    display: inline-block;
    text-decoration: none;
    margin-left: 120px;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 15px;
  }
  .shipping {
    img {
      left: -17px;
      @media (min-width: $screen-adaptive-nav) {
        left: 0;
        top: 24px;
      }
    }
    p {
      margin-bottom: 0;
      @media (min-width: $screen-adaptive-nav) {
        margin: 20px 0 0 106px;
      }
      @media (min-width: $screen-lg) {
        margin: 20px 0 0 140px;
      }
    }
    background-color: $color_gallery_approx;
  }
  .range {
    p {
      margin-bottom: 0;
      @media (min-width: $screen-adaptive-nav) {
        margin: 20px 0 0 114px;
      }
    }
    img {
      @media (min-width: $screen-adaptive-nav) {
        left: 35px;
        top: 24px;
      }
    }
  }
  .warranty {
    img {
      @media (min-width: $screen-adaptive-nav) {
        left: 25px;
        top: 29px;
      }
    }
    p {
      margin-bottom: 0;
      @media (min-width: $screen-adaptive-nav) {
        margin: 20px 0 0 80px;
      }
      @media (min-width: $screen-lg) {
        margin: 20px 0 0 120px;
      }
    }
    background-color: $color_gallery_approx;
  }
}
.detail-text {
  margin-top: 26px;
  font-size: 14px;
  color: $black;
}
#similar-goods {
  margin-top: 40px;
  .title {
    font-size: 40px;
    font-weight: bold;
    color: $color_honey_flower_approx;
    background: $url_7 no-repeat;
    padding: 10px 0 0 50px;
    display: inline-block;
    padding-bottom: 40px;
  }
}
.best-sellers, .catalog--content {
  .container {
    padding: 0;
    @media (min-width: $screen-md) {
      padding: 0 10px;
    }
  }
  &--content {
    .cell {
      position: relative;
      &::before {
        content: '';
        height: 220px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: #f7f7f7;
        @media (min-width: $screen-sm) {
          background-color: transparent;
        }
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .about {padding-bottom: 0;}
}
.cart {
  font-family: $font_1;
}
.category-header {
  text-align: center;
  color: $color_sec;
  width: 100%;
  padding: 0 10px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
  @media (min-width: $screen-md) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
  h2 {
    line-height: 1;
    font-size: 30px;
    vertical-align: top;
    position: relative;
    font-weight: 700;
    letter-spacing: -.03em;
    margin: 0 auto;
    display: inline-block;
    color: $color-type-1b;
    @media (min-width: $screen-md) {
      font-size: 40px;
    }
    img {
      vertical-align: bottom;
      margin-right: 14px;
      max-height: 26px;
      @media (min-width: $screen-md) {
        margin-right: 19px;
        max-height: inherit;
      }
    }
  }
}
.catalog--title {
  padding: 50px 10px 0;
  @media (min-width: $screen-md) {
    padding: 0 10px;
  }
}
.toy {
  max-width: 230px;
  margin: auto;
  padding: 0 4px;
  position: relative;
  margin-bottom: 4px;
  a {
    text-decoration: none;
  }

  @media (min-width: $screen-tablet) {
    &:hover {
      .toy-preview {
        transform: scale(1.09);
        &:before {
          transform: scale(.8264);
          color: $color_gallery_approx;
        }
      }
      .toy-like {
        visibility: visible;
      }
      .toy-description--name {
        color: $color_viking_approx;
        text-decoration: underline;
      }
      .toy-bottom--basketButton {
        border-color: $color_vivid_violet_approx;
      }
    }
  }
}
.toy-preview {
  height: 220px;
  position: relative;
  padding: 1px 0 0;
  transition: .3s;
  will-change: transform;
  transform: translateZ(0);
  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20px;
    margin: auto;
    transform: translateZ(100px);
    @media (min-width: $screen-md) {
      top: 0;
    }
  }
  &:before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 15px;
    width: 100%;
    color: $color_black_haze_approx;
    border: 7px solid $color_black_haze_approx;
    transition: .3s;
    display: none;
    @media (min-width: $screen-phone) {
      display: block;
    }
  }
  &:after {
    content: '';
    display: block;
    border-radius: 50%;
    background: $color_gallery_approx;
    width: 69%;
    padding-bottom: 8.8%;
    margin: 108% auto 0;
    transform-origin: 0 0 0;
  }
  &:hover {
    transform: scale(1.09);
    &:before {
      transform: scale(.8464);
      color: $color_gallery_approx;
    }
  }
}
.toy-like {
  visibility: hidden;
  transition: .3s;
}
.fav-button {
  display: inline-block;
  font-size: 14px;
  line-height: 1.43;
  span {
    color: $black;
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 37px;
    height: 36px;
    background: $url_14;
    margin-right: 10px;
  }
}
.fav-button--attached {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 12px!important;
  line-height: 1.667;
  span {
    margin-left: -3px;
    vertical-align: top;
  }
}
.toy-description {
  margin: 0 auto;
  margin-top: 60px;
  @media (min-width: $screen-tablet) {
    margin-top: 79px;
  }
}
.toy-description--type {
  font-size: 13px;
  color: $color_star_dust_approx;
}
.toy-description--name {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: $color_cape_cod_approx;
  max-width: 95%;
  margin-top: 13px;
  @media (min-width: $screen-sm) {
    height: 42px;
  }
}
.toy-bottom {
  position: relative;
}
.toy-bottom--price {
  @extend %extend_7;
  font-weight: bold;
  font-size: 26px;
  color: $color_cape_cod_approx;
}
.toy-bottom--basketButton {
  @extend %extend_7;
  height: 50px;
  width: 50px;
  background: $url_16 no-repeat left 7px top 9px, $color_vivid_violet_approx;
  @include border-radius(50%);
  border: 4px solid #fff;
  position: absolute;
  right: 5px;
  top: -20px;
}
.price-old {
  font-size: 16px;
  color: #a0a0a0;
  text-decoration: line-through;
  font-weight: normal;
  margin-left: 10px;
}
.price-new {
  color: $color_radical_red_approx;
}
.catalog-inner {
  .toy {
    margin-bottom: 40px;
  }

  .accordion-title-js {
    &.active {
      i:before {
        content: "\f106";
      }
    }
  }
}
.checkbox-inner {
  > .checkbox {
    position: absolute;
    top: 7px;
  }
  .accordion-title {
    label {
      cursor: pointer;
      padding-left: 36px;
      padding-top: 7px;
    }
  }
}
.about-right {
  p {
    color: $color_cape_cod_approx;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 7px;
  }
}
.about-left--image {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 180px;
    height: 15px;
    background: $color_gallery_approx;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 140px / 15px;
  }
}
#social {
  margin: 32px auto 0;
  .cell {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: $color_honey_flower_approx;
    text-align: center;
    background: $url_18 no-repeat 220px 2px;
    margin-bottom: 42px;
    line-height: 42px;
  }
}
#vk_widget, #vk_groups {
  width: 100%;
}
.social-header {
  box-sizing: border-box;
  width: 100%;
  background: $blue;
  height: 50px;
  padding: 0 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.social-header_count {
  @extend %extend_8;
}
.social-header_subscribe-button {
  @extend %extend_8;
  text-align: right;
  color: $white;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    color: $white;
  }
}
.social-footer_vk {
  @extend %extend_9;
  &:after {
    @extend %extend_10;
  }
}
.social-footer_fb {
  @extend %extend_9;
  background-position: 100%;
  &:after {
    @extend %extend_10;
  }
}
.social-footer_inst {
  @extend %extend_9;
  background-position: 50%;
  &:after {
    @extend %extend_10;
  }
}
.background-vk {
  background: $color_horizon_approx !important;
}
.background-inst {
  background: $color_leather_approx !important;
}
.background-fb {
  background: $color_san_marino_approx !important;
}
.footer {
  background: $color_gallery_approx;
  width: 100%;
  margin-top: 60px;
  @media (min-width: $screen-adaptive-nav) {
    margin-top: 69px;
  }
  .footer-row-1 {
    border-bottom: 1px solid $color_mercury_approx;
    line-height: 60px;
    padding-top: 5px;
  }
}
.footer-top-1 {
  @extend %extend_11;
  display: inline-block;
  a {
    font-size: 15px;
    color: $color_star_dust_approx;
    text-decoration: none;
    font-weight: 100;
  }
}
.footer-top-2 {
  @extend %extend_11;
  @media (min-width: $screen-adaptive-nav) {
    border-top: none;
  }
  .header-left-social--twitter {
    margin: 15px 11px 0 0;
    @media (min-width: $screen-adaptive-nav) {
      margin: 15px 40px 0 0;
    }
    &:hover {
      background-position: 60% 100%;
    }
  }
  .header-left-social--vk {
    margin: 15px 11px 0 0;
    @media (min-width: $screen-adaptive-nav) {
      margin: 15px 40px 0 0;
    }
    &:hover {
      background-position: 0 100%;
    }
  }
  .header-left-social--facebook {
    margin: 15px 11px 0 0;
    @media (min-width: $screen-adaptive-nav) {
      margin: 15px 40px 0 0;
    }
    &:hover {
      background-position: 20% 100%;
    }
  }
  .header-left-social--instagram {
    margin: 15px 11px 0 0;
    @media (min-width: $screen-adaptive-nav) {
      margin: 15px 52px 0 0;
    }
    &:hover {
      background-position: 40% 100%;
    }
  }
  .header-left-news-button {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
  }
}
.footer-row-2 {
}
.footer-row {
  line-height: 50px;
}
.footer-row-4 {
  padding: 7px 0 0;
  p {
    font-size: 15px;
    color: $color_star_dust_approx;
    font-weight: lighter;
    letter-spacing: -0.2;
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    text-decoration: underline;
    letter-spacing: -0.2;
    margin-bottom: 5px;
    @media (min-width: $screen-adaptive-nav) {
      padding: 0 15px;
    }
    color: $color_cape_cod_approx;
    @media (min-width: $screen-adaptive-nav) {
      border-right: 1px solid;
      text-decoration: none;
      margin-bottom: 20px;
    }
    &:last-child {
      padding-right: 0;
    }
    &:nth-last-of-type(1) {
      border: none;
    }
    &:hover {
      color: $color_radical_red_approx;
      text-decoration: underline;
    }
  }
  .copy {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 10px;
    @media (min-width: $screen-adaptive-nav) {
      border: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
}
.float-right {
  float: right;
  padding-top: 19px;
}
#veil {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  background: $mine_shaft_60;
  z-index: 99;
  display: none;
}
.search-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background: $url_0;
  background-position: 66.1% 0;
  display: inline-block;
  z-index: 9;
  border: none;
  cursor: pointer;
}
.cart-left {
  padding-bottom: 30px;
  table {
    width: 100%;
    tr {
      height: 160px;
      cursor: pointer;
      border-top: 1px solid $wild_sand;
      &:last-child {
        border-bottom: 1px solid $wild_sand;
      }
      &:hover {
        background: $color_concrete_approx;
        .td-info--name {
          text-decoration: underline;
          color: $color_viking_approx;
        }
        .td-select--close {
          background: url('../images/icons/close-ico.svg') no-repeat center center, $color_radical_red_approx;
        }
        select {
          background: url('../images/icons/arr-down.svg') no-repeat center right 10px, #fff;
          &:hover,
          &:active,
          &:focus {
            background: url('../images/icons/arr-down.svg') no-repeat center right 10px, #fff;
          }
        }
      }
      td {
        vertical-align: top;
      }
    }
    select {
      width: 90px;
      display: inline-block;
      background: url('../images/icons/arr-down.svg') no-repeat center right 10px, #f3f3f3;
      border-color: #f3f3f3;
    }
    @media (max-width: $screen-xs-max) {
      display: block;
      tr {
        display: block;
        height: auto;
        td {
          display: inline-block;
          &.td-select {
            width: 100%;
            padding-top: 0;
            padding-bottom: 20px;
          }
          &.td-image {
            width: 40%;
          }
          &.td-info {
            width: 58%;
          }
        }
      }
    }
  }
}
.cart-right {
  padding-bottom: 30px;
}
.td-select--close {
  background: url('../images/close-ico.png') no-repeat center center, #f3f3f3;
  width: 36px;
  height: 36px;
  float: right;
  @include border-radius(50%);
  margin: 5px 16px 0 0;
}
.sortprop ul {
  float: left;
}
.sortcount ul {
  float: left;
}
#content #catalog-section.similar-goods {
  .similar-prev-button {
    @extend %extend_6;
    background-position: 0 -50px;
    top: 100px;
    left: -15px;
  }
  .similar-next-button {
    @extend %extend_6;
    background-position: -50px -50px;
    top: 100px;
    right: -14px;
  }
  li.item {
    width: 240px !important;
  }
  div:hover {
    &.similar-prev-button {
      background-position: -1px 0;
      top: 100px;
      left: -15px;
    }
    &.similar-next-button {
      background-position: -50px 0;
      top: 100px;
      right: -14px;
    }
  }
}
.category-header--star {
  margin-bottom: 25px;
  @media (min-width: $screen-md) {
    margin-bottom: 45px;
  }
}
.category-header--fresh  {
  margin-bottom: 25px;
  @media (min-width: $screen-md) {
    margin-bottom: 45px;
  }
}
.category-header--about h2 {
  img {
    display: block;
    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }
}
.category-header--catalog {
  margin-bottom: 25px;
  @media (min-width: $screen-md) {
    margin-bottom: 45px;
  }
}
.topy-preview:hover .toy-bottom--basketButton {
}
.fav-button.active:before,
.fav-button--active:before {
  background: $url_15;
}
.status:before {
  position: absolute;
  right: 8px;
  top: -11px;
  padding: 0 16px;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  transform: rotate(-14deg);
  transform-origin: 100% 0 0;
  z-index: 2;
  @media (min-width: $screen-desktop) {
    right: 1px;
  }
}
.status--popular:before {
  content: '\445\438\442';
  background: $color_vivid_violet_approx;
}
.status--new:before {
  content: 'new';
  background: $color_malibu_approx;
}
.status--sale:before {
  content: 'sale';
  background: $color_radical_red_approx;
}
.footer-row-3 p {
  font-size: 15px;
  color: $color_star_dust_approx;
  font-weight: lighter;
  border-bottom: 1px solid $color_mercury_approx;
  padding-bottom: 18px;
  margin-top: 27px;
  letter-spacing: -0.2;
}
input.search-input {
  width: 100%;
  height: 60px;
  border: none;
  background: $color_concrete_approx;
  outline: none;
  padding: 10px 40px 10px 60px;
  font-size: 16px;
  color: $color_cape_cod_approx;
  &:before {
    width: 60px;
    height: 60px;
    background: $red;
    display: inline-block;
    content: '';
  }
}


.footer-acc {
  li:not(.footer-acc--title) {
    display: none;
    @media (min-width: $screen-adaptive-nav) {
      display: block;
    }
  }
  &.active li {
    display: block;
  }
}

.banner {
  position: relative;
  margin-bottom: 22px;
  .btn {
    font-weight: 700;
    @media (min-width: $screen-adaptive-nav) {
      margin-top: -23px;
      position: absolute;
      right: 6px;
      top: 50%;
    }
  }
}

.sort {
  display: block;
  margin: 20px 0 30px;
  font-size: 15px;
  a {text-decoration: none;}
  &__item {
    a {
      padding: 0 20px 0 0;
      &::before {
        content: '';
        height: 11px;
        width: 10px;
        display: inline-block;
        margin-right: 5px;
        background: url('../images/icons/sort-up.svg') no-repeat;
        background-position: 0 0;
      }
      &:hover {
        color: $color-type-1b;
        &::before {
          background-position: 0 -11px;
        }
      }
    }
    &.down a {
      color: $color-type-1b;
      &::before {
        background: url('../images/icons/sort-down.svg') no-repeat;
      }
      &:hover {
        &::before {
          background-position: 0 -11px;
        }
      }
    }
  }
  &-num {
    &__item {
      a {
        width: 36px;
        height: 36px;
        color: #424242;
        text-align: center;
        line-height: 36px;
        display: inline-block;
        @include border-radius(50%);
        &:hover {
          background-color: #f7f7f7;
        }
      }
      &.active a {
        color: #fff;
        background-color: #69c4e8;
      }
    }
  }
  li {
    padding: 0;
    line-height: 36px;
  }
}

.card-slider {
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto -1px;
    max-width: 101%;
    z-index: 1;
  }
}

.slider-product {
  .slick-track {
    padding-top: 15px;
  }
  .slick-slide {
    position: relative;
    &::before {
      content: '';
      height: 220px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: #f7f7f7;
      @media (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
  }
}




.footer, .about {
  @media (max-width: $screen-sm-max) {
    .container, .cell {
      padding-left: 20px;
      padding-right: 20px;
    }
    .row {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}