.footer.clearfix
  .container
    .footer-row-1
        .row
            .cell.cell__lg-6.cell__md-7.cell__xs-12.text__md--left.text--center.hidden__sm.hidden__xs
              a.logo(href='#')
              .footer-top-1
                span.bullet
                a(href='#') Каталог
                span.bullet
                a(href='#') Новый год
            .cell.cell__lg-6.cell__md-5.cell__xs-12.text__md--right.text--left
              .footer-top-2
                a.header-left-social--vk(href='#')
                a.header-left-social--facebook(href='#')
                a.header-left-social--instagram(href='#')
                a.header-left-social--twitter(href='#')
                a.header-left-news-button(href="#")
                  img(src="images/icons/header-button.svg", alt="")
    .footer-row-2
      .row
        .cell.cell__md-4.cell__sm-5.cell__xs-12.text__md--left.text--center.hidden__xs.hidden__sm
          .mnushka
            img(src="images/mnushkia.png", alt="")
        .cell.cell__md-3.cell__sm-7.cell__xs-12.pull__md-left.pull-right
          ul.footer-ul.footer-acc
            li.footer-acc--title Партнерам
            li
              a(href='#') О компании
            li
              a(href='#') Оплата Доставка
            li
              a(href='#') Обмен и возврат
            li
              a(href='#') Правила продажи
            li
              a(href='#') Контакты
            li
              a(href='#') Политика безопасности
        .cell.cell__md-3.cell__sm-7.cell__xs-12.pull__md-left.pull-right
          ul.footer-ul.footer-acc
            li.footer-acc--title  Наши магазины
            li
              a(href='#') Все товары
            li
              a(href='#') Сувениры
            li
              a(href='#') Интерьер
            li
              a(href='#') Персонажи
            li
              a(href='#') Игрушки
            li
              a(href='#') Сон и отдых
        .cell.cell__md-2.cell__sm-7.cell__xs-12.pull__md-left.pull-right
          ul.footer-ul.footer-acc
            li.footer-acc--title  Франшиза
            li
              a(href='#') О компании
            li
              a(href='#') Оплата Доставка
            li
              a(href='#') Обмен и возврат
            li
              a(href='#') Правила продажи
            li
              a(href='#') Контакты
            li
              a(href='#') Политика безопасности
        .cell.cell__md-4.cell__sm-5.cell__xs-12.text__md--left.text--center.visible__sm.visible__xs
          .mnushka
            img(src="images/mnushkia.png", alt="")
    .footer-row-3
      p
        | Производство и продажа антистрессовых игрушек и подушек. 8-800-2345-377 (звонок по России бесплатный)
    .footer-row-4
        .row
            .cell.cell__lg-7.cell__xs-12.text__lg--right.text--left.pull-right
              a(href='#') Политика безопасности
              a(href='#') Правила пользования сайтом
              a(href='#') Карта сайта
            .cell.cell__lg-5.cell__xs-12.copy
              p
                | Copyright © 2016, Мнушки™. Все права защищены.