#veil
.topline
  .container
    .search
        .container
            .row
                .cell.cell__xs-2
                    a(href="/").topline-logo
                .cell.cell__xs-10
                    form.relative
                        input.search-icon(type='submit', value='')
                        input.search-input(type='text', name="control", id="control",  placeholder='Поиск по сайту')
                        //.show_hide vdfvdfv
                        .close-search
                        .popular-block
                            ul.list--unstyled
                                li: span Популярные запросы
                                li: a(href="#") Подголовники
                                li: a(href="#") Новый год
                                li: a(href="#") Обезьяна
    .topline-wrapper
        .row
            .cell.cell__xs-3.visible__xs.visible__sm
                button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                    img(src="images/icons/menu.svg", alt="#")
            .cell.cell__md-5.cell__xs-6.text--center.text__md--left
                a(href="/").topline-logo
                .topline-quote.hidden__sm.hidden__xs «Ну-ка. Обни-ми меня!»
            .cell.cell__md-5.text--center.hidden__xs.hidden__sm
                a(href="tel:88002345377").topline-phone 8-800-2345-377
                a(href="mailto:admin@adnim.ru").topline-mailus Написать
            .cell.cell__md-2.cell__xs-3.text--right.text--nowrap
                .topline-search.hidden__sm.hidden__xs
                a(href="#").topline-shoppingCart.topline-shoppingCart--full
.topline-filtr
    .container
        .inner
            .topline-filtr__item.cell__xs-6
                a.topline--js(href="#")
                    img(src="images/icons/filter.svg", alt="#")
                    span Фильтр
            .topline-filtr__item.cell__xs-6
                select.topline-drop(style="width:100%;")
                    option По новизне
                    option По популярности
                    option По цене
.header
  .container
    .row
        .cell.cell__md-4.cell__xs-12.header-left
          .header-left--annotation.text--center.text__md--left
            | Производим антистресс игрушки.
            br
            |             мы называем их просто — «Мнушки»
          .hidden__sm.hidden__xs
              .header-left-news-button
                  a(href="#"): img(src="images/icons/header-button.svg", alt="")
              a.header-left-social--vk(href='#')
              a.header-left-social--facebook(href='#')
              a.header-left-social--instagram(href='#')
              a.header-left-social--twitter(href='#')
        .cell.cell__md-4.cell__xs-12.header-center.text--center
            a(href="/"): img(src="images/icons/header-logo.svg", alt="")
            .header-center--annotation ООО «Игрушка»
        .cell.cell__md-4.cell__xs-12.header-right.text--right.hidden__sm.hidden__xs
          .header-right--phone 8 800 2345 377
          .header-right--phone-text Звонок по россии бесплатный
          a.header-right--callback(href='#') Заказать звонок
    .menu.navbar
        nav
            .main-nav__collapse
              .mclose-btn.mclose-btn--js: img(src="images/icons/close.svg", alt="")
              .visible__xs.visible__sm
                  .search--ico
                      input(type="search", placeholder="Поиск")
              ul
                li
                  a(href='#') ГЛАВНАЯ
                li.parent
                  a.main-nav__toggle--jsS(href='#') КАТАЛОГ
                  ul.menu-dropdown.row
                    li.menu-dropdown-wrapper.cell.cell__md-4.cell__xs-12
                      ul
                        li.heading
                          a(href='#') Новинки
                        li.heading
                          a(href='#') Валики
                        li.heading
                          a(href='#') Подголовники
                      ul
                        li.heading
                          a(href='#') Игрушки
                        li
                          a(href='#') Барашки/овечки
                        li
                          a(href='#') Зайцы
                        li
                          a(href='#') Коты
                        li
                          a(href='#') Машинки
                        li
                          a(href='#') Медведи
                        li
                          a(href='#') Наборы мини игрушек
                        li
                          a(href='#') Разные игрушки
                        li
                          a(href='#') Слоны
                        li
                          a(href='#') Собаки
                        li
                          a(href='#') Человечки
                    li.menu-dropdown-wrapper.cell.cell__md-4.cell__xs-12
                      ul
                        li.heading
                          a(href='#') Подушки
                        li
                          a(href='#') Relax
                        li
                          a(href='#') Автоподушки
                        li
                          a(href='#') Деньги, телефоны, пульты
                        li
                          a(href='#') Подушки с надписями
                        li
                          a(href='#') Разные подушки
                        li
                          a(href='#') Сердца
                        li
                          a(href='#') Смайлы
                        li
                          a(href='#') Спилы/камни
                        li
                          a(href='#') Цветы
                      ul
                        li.heading
                          a(href='#') Интерьерные подушки
                        li
                          a(href='#') Англия
                        li
                          a(href='#') Завитки
                        li
                          a(href='#') Ретро Авто
                    li.menu-dropdown-wrapper.cell.cell__md-4.cell__xs-12
                      ul
                        li.heading
                          a(href='#') Подушки для кормления и беременных
                        li
                          a(href='#') Антистресс
                        li
                          a(href='#') Холлофайбер
                      ul
                        li.heading
                          a(href='#') Специальные выпуски
                        li
                          a(href='#') Подарки к Новому Году
                        li
                          a(href='#') Подарки к 14 февраля
                        li
                          a(href='#') Подарки к 23 февраля
                        li
                          a(href='#') Подарки к 8 марта
                        li
                          a(href='#') 1 сентября
                li: a(href='#') УСЛОВИЯ СОТРУДНИЧЕСТВА
                li: a(href='#') КОНТАКТЫ
                li: a(href='#') ПРАЙСЫ
                li: a(href='#') АКЦИИ
                li: a(href='#') КОНКУРСЫ
              .visible__xs.visible__sm.mobile-bottom
                  .social-ico
                      a.header-left-social--vk(href='#')
                      a.header-left-social--facebook(href='#')
                      a.header-left-social--instagram(href='#')
                      a.header-left-social--twitter(href='#')
                  .header-right--phone 8 800 2345 377
                  .header-right--phone-text Звонок по РФ бесплатный
    //include ../components/_navbar