//
// Mixins -> Modules
// ------------------------------------


//
// border-radius
//
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

//
// alert
//
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
  hr {
    border-top-color: darken($border, 5%);
  }
  .alert--link {
    color: darken($text-color, 10%);
  }
}


//
// padding / margin
//
@mixin padtop($top) {
  padding-top: $top;
}
@mixin padbot($bottom) {
  padding-bottom: $bottom;
}
@mixin margright($right) {
  margin-right: $right;
}
@mixin margleft($left) {
  margin-left: $left;
}
@mixin margbot($bottom) {
  margin-bottom: $bottom;
}
@mixin margtop($top) {
  margin-top: $top;
}


//
// responsive utilities
//
@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
}
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}