//
// Variables


//colors
$color_concrete_approx: #f3f3f3;
$color_cape_cod_approx: #424242;
$color_star_dust_approx: #a0a0a0;
$color_viking_approx: #69c4e8;
$color_honey_flower_approx: #532075;
$color_picton_blue_approx: #41b0e3;
$color_vivid_violet_approx: #803b96;
$color_sec: #7f3b96;
$white: #fff;
$color_radical_red_approx: #f92e50;
$color_gallery_approx: #f0f0f0;
$color_tuatara_approx: #383838;
$color_iron_approx: #d8d8d8;
$black: #000;
$color_black_haze_approx: #f7f7f7;
$color_malibu_approx: #7ed4f5;
$blue: #00f;
$color_horizon_approx: #5b7fa6;
$color_leather_approx: #a06e54;
$color_san_marino_approx: #4764b3;
$color_mercury_approx: #e6e6e6;
$color_alto_approx: #d9d9d9;
$mine_shaft_60: rgba(50, 50, 50, 0.6);
$red: #f00;
$wild_sand: #f4f4f4;
$color_gravel_approx: #4a4a4a;
$color_pink_swan_approx: #b7b7b7;
$color_carnation_approx: #f75568;

//fonts
$font_0: Ubuntu !important;
$font_1: Ubuntu;
$font_2: sans-serif;

//urls
$url_0: url(../images/icons/topline.svg);
$url_1: url(../images/icons/header-button.svg);
$url_2: url(../images/icons/header-icons.svg);
$url_3: url(../images/icons/header-logo.svg);
$url_4: url(../images/heading-arrow.png);
$url_5: url(../images/slider.jpg);
$url_6: url(../images/icons/arrows.svg);
$url_6g: url(../images/icons/arrows-g.svg);
$url_7: url(../images/bearcat.png);
$url_8: url(../images/slider_sprites.png);
$url_9: url(../images/star.png);
$url_10: url(../images/duck.png);
$url_11: url(../images/about.png);
$url_12: url(../images/bear.png);
$url_13: url(../images/social.png);
$url_14: url(../images/icons/heart_inactive.svg);
$url_15: url(../images/icons/heart_active.svg);
$url_16: url(../images/icons/tobasket.svg);
$url_17: url(../images/left-image.png);
$url_18: url(../images/bird.png);
$url_19: url(../images/icons/social-footer.svg);
$url_20: url(../images/mnushkia.png);
$url_21: url(../images/icons/close.svg);
$url_22: url(../images/icons/catalog-dropdown.svg);
$url_23: url(../images/icons/close.svg);
$url_24: url(../images/busket.png);


//- Variables -> Base
$base-font-family:                    "Ubuntu", Arial, sans-serif !default;
$base-font-family-serif:              "Times New Roman", serif !default;
$base-font-size:                      16px !default;
$base-font-weight:                    300 !default;
$base-line-height:                    1.4 !default;
$base-color:                          $black !default;
$base-background:                     $white-lighten !default;
$base-padding:                        8px;

//- Link
$link-color:                          $color_picton_blue_approx;
$link-hover-color:                    $black-darken;
$link-decoration:                     none;


//- Variables -> Typography
$font-size-large:                     ceil(($base-font-size * 1.125)) !default; // ~18px
$font-size-medium:                    ceil(($base-font-size * 1)) !default; // ~16px
$font-size-small:                     ceil(($base-font-size * 0.9375)) !default; // ~15px
$font-size-tiny:                      ceil(($base-font-size * 0.8125)) !default; // ~13px

$font-size-h1:                        floor(($base-font-size * 2.25)); // ~40px
$font-size-h2:                        floor(($base-font-size * 1.5)); // ~36px
$font-size-h3:                        floor(($base-font-size * 1.5)); // ~24px
$font-size-h4:                        ceil(($base-font-size * 1.125)); // ~18px
$font-size-h5:                        ceil(($base-font-size * 1)); // ~16px
$font-size-h6:                        ceil(($base-font-size * 0.875)); // ~14px

$line-height-computed:                floor(($base-font-size * $base-line-height)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $base-line-height) / 2); // ~11px

$headings-font-family:                inherit !default;
$headings-font-weight:                700 !default;
$headings-line-height:                1.3 !default;
$headings-color:                      inherit !default;

//- border-radius
$border-radius-base:                  0;
$border-radius-large:                 5px;
$border-radius-small:                 0;


//- Grid
$screen-sm:                           460px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           992px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xlg:                          1200px;
$screen-xlg-min:                      $screen-xlg;
$screen-xlg-desktop:                  $screen-xlg-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;

$screen-adaptive-nav:                 $screen-md-min;

//- Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   20px;


//- Small screen / tablet
$container-mobile:                    (440px + $grid-gutter-width);
$container-sm:                        $container-mobile;

//- Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

//- Medium screen / desktop
$container-desktop:                   (960px + $grid-gutter-width);
$container-lg:                        $container-desktop;

//- Large screen / wide desktop
$container-large-desktop:             (960px + $grid-gutter-width);
$container-xlg:                        $container-large-desktop;

//- Btn
$btn-font-weight:                     500;

$btn-default-color:                   #8493a8 !default;
$btn-default-bg:                      #fff !default;
$btn-default-border:                  #cad3df !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $base-color-main !default;
$btn-primary-border:                  $btn-primary-bg !default;

$btn-success-color:                   $color-type-1b !default;
$btn-success-bg:                      #fff !default;
$btn-success-border:                  $btn-success-bg !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $color-type-1b !default;
$btn-info-border:                     $btn-info-bg !default;

$btn-warning-color:                   #fff !default;
$btn-warning-bg:                      $color-type-3a !default;
$btn-warning-border:                  $btn-warning-bg !default;

$btn-danger-color:                    #424242 !default;
$btn-danger-bg:                       #f7f7f7 !default;
$btn-danger-border:                   $btn-danger-bg !default;

$btn-transparent-color:               $base-color-main !default;
$btn-transparent-bg:                  transparent !default;
$btn-transparent-border:              $btn-transparent-color !default;

//- Padding
$padding-base-vertical:               11px;
$padding-base-horizontal:             16px;

$padding-large-vertical:              11px;
$padding-large-horizontal:            16px;

$padding-small-vertical:              7px;
$padding-small-horizontal:            10px;

$padding-tiny-vertical:               5px;
$padding-tiny-horizontal:             8px;

$line-height-large:                   1.5;
$line-height-small:                   1.3;
$line-height-tiny:                    1.2;
$line-height-btn:                     1.8333333;

$border-radius-base:                  5px;
$border-radius-large:                 5px;
$border-radius-small:                 5px;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-darken-2;
$blockquote-font-size:                ($base-font-size * 1.4705);
$blockquote-border-color:             $gray-darken-1;


//- Breadcrumbs
$breadcrumb-padding-vertical:         8px;
$breadcrumb-padding-horizontal:       15px;
$breadcrumb-bg:                       transparent;
$breadcrumb-color:                    #ccc;
$breadcrumb-active-color:             $gray-darken-2;
$breadcrumb-separator:                "/";


//- Pagination
$pagination-color:                    #54657e;
$pagination-bg:                       #fff;
$pagination-border:                   #fff;

$pagination-hover-color:              #fff;
$pagination-hover-bg:                 $base-color-main;
$pagination-hover-border:             $base-color-main;

$pagination-active-color:             #fff;
$pagination-active-bg:                $base-color-main;
$pagination-active-border:            $base-color-main;


//- Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        #cad3df;
$pager-border-radius:                 50px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-hover-color:                   $pagination-hover-color;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;


//- Accordion
$accordion-padding-vertical:         8px;
$accordion-padding-horizontal:       15px;
$accordion-bg:                       transparent;
$accordion-color:                    #333;
$accordion-active-color:             $gray-darken-2;

//- Tables
$table-cell-padding:                  8px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #fff;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #cad3df;


//- Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

//- Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

//- Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


//- Navs
$nav-link-padding:                     10px 15px;
$nav-link-hover-bg:                    $color-type-3a;
$subnav-link-hover-bg:                 $color-type-3b;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


//- Alerts
$alert-padding:                        16px 16px 16px 55px !default;
$alert-border-radius:                  5px !default;
$alert-link-font-weight:               400 !default;

$alert-success-bg:                     #daf5e7 !default;
$alert-success-text:                   #04be5b !default;
$alert-success-border:                 #04be5b !default;

$alert-info-bg:                        #d9ecf9 !default;
$alert-info-text:                      #0e89d8 !default;
$alert-info-border:                    #0082d5 !default;

$alert-warning-bg:                     #fff0e4 !default;
$alert-warning-text:                   #ff9948 !default;
$alert-warning-border:                 #ff9948 !default;

$alert-danger-bg:                      #f8e1e7 !default;
$alert-danger-text:                    #d2335c !default;
$alert-danger-border:                  #d2335c !default;


$close-font-weight:                    bold !default;
$close-color:                          #000 !default;
$close-text-shadow:                    none !default;


//- Form states and table
$input-bg:                             #f7f7f7 !default;
$input-bg-disabled:                    $gray-darken-1 !default;

$input-color:                          #5a5a5a !default;
$input-border:                         #f7f7f7 !default;

$input-border-radius:                  $border-radius-base !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   $color_honey_flower_approx !default;
$input-color-placeholder:              #8493a8 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-darken-1 !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $base-color-main !default;
$state-primary-bg:                     $base-color-main !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $color-type-4a !default;
$state-success-bg:                     $color-type-4a !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $color-type-1a !default;
$state-info-bg:                        $color-type-1a !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $color-type-3a !default;
$state-warning-bg:                     $color-type-3a !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $color-type-2a !default;
$state-danger-bg:                      $color-type-2a !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             15px !default;

$legend-color:                         $black !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;



// Variables -> Components

// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home