.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--404
            h2
                img(src="images/icons/title-icons-05.svg", alt="")
                | Страница не найдена
        .page404.text--center
            img(src="images/page404.png", alt="")
            p.margtop40.text__sm Мы не смогли найти то, что вы искали. Запрашиваемая страница не может быть найдена.
            ul.margtop30.list--inline
                li: a.btn.btn--danger.btn__icon.icon-left-open(href="#") Вернуться назад
                li: a.btn.btn--info.text--uppercase(href="#") Перейти в каталог
                li: a.btn.btn--primary.text--uppercase(href="#") На главную