.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--ref
            h2
                img(src="images/icons/title-icons-01.svg", alt="")
                | Оформление заказа
        include ../components/_order
        .row
            .cell.cell__md-6.cell__xs-12
                form.reg-form
                    .text--center
                        h3.text--info Войти с учетной записью
                    .form__group
                        .row
                            .cell.cell__xs-2
                                .icons
                                    img(src="images/icons/form-ico-02.svg", alt="")
                            .cell.cell__xs-10.error
                                input.form-control(type="email", placeholder="Электронная почта")
                                span.validate
                    .form__group
                        .row
                            .cell.cell__xs-2
                                .icons
                                    img(src="images/icons/form-ico-05.svg", alt="")
                            .cell.cell__xs-10.success
                                input.form-control(type="password", placeholder="**************")
                                span.validate
                    .form__group
                        .row
                            .cell.cell__xs-2
                            .cell.cell__xs-10
                                .form__group
                                    .checkbox
                                        input(type="checkbox", id="chk1")
                                        label(for="chk1") Запомнить меня
                    .form__group
                        input.btn.btn--info.text--uppercase.btn--full(type="submit", value="Войти")
                    ul.list--inline.text__sm.text--center
                        li: a(href="#") Забыли пароль?
                        li: a(href="#") Правила использования
            .cell.cell__md-6.cell__xs-12
                form.soc-form
                    .text--center
                        h3.text--info Войти через соцсеть
                        .form__group
                            .row
                                .cell.cell__lg-6.cell__md-12.cell__sm-6.cell__xs-12
                                    .form__group
                                        a.btn.btn--vk(href="#") Вконтакте
                                    .form__group
                                        a.btn.btn--go(href="#") Google Plus
                                    .form__group
                                        a.btn.btn--tw(href="#") Twitter
                                .cell.cell__lg-6.cell__md-12.cell__sm-6.cell__xs-12
                                    .form__group
                                        a.btn.btn--odn(href="#") Одноклассники
                                    .form__group
                                        a.btn.btn--fa(href="#") Facebook
                p.text--default.text__xs.notice Осуществляя вход, вы подтверждаете свое согласие на получение информации о статусе заказов, согласие с &nbsp;
                    a(href="#") правилами использования
                    |  и согласие на обработку персональных данных.
        .category-header.margtop20
            h2
                | Покупаете впервые?
        .first-block
            .row
                .cell.cell__md-5.cell__xs-12
                    .clearfix
                        .pull-left.margright20: img(src="images/icons/first-ico-1.svg", alt="")
                        .pull-left
                            h3 Вы можете
                                br
                                | зарегистрироваться
                    .desc
                        p.text__sm Получайте бонусы, экономьте деньги и время
                            | при следующих покупках. Регистрация займет всего пару минут.
                    a.btn.btn--info.text--uppercase.btn--full.margbot20(href="#") зарегистрируйтесь
                .cell.cell__md-5.cell__xs-12.pull-right
                    .clearfix
                        .pull-left.margright20: img(src="images/icons/first-ico-2.svg", alt="")
                        .pull-left
                            h3.text--default Заказывайте
                                br
                                | без регистрации
                    .desc
                        p.text__sm Вы не сможете получить бонусы за покупку.
                            | При следующей покупке придется заново указывать контактную информацию или адрес доставки.
                    a.btn.btn--success.text--uppercase.btn--full.margbot20(href="#") Купите без регистрации