.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--cart
            h2
                img(src="images/icons/title-icons-02.svg", alt="")
                | Моя корзина
        .row
            .cart-left.cell.cell__lg-9.cell__md-8.cell__xs-12
                table
                    tbody
                        tr
                            td.td-image
                                img(src='images/cart-image.png', alt='')
                            td.td-info
                                p.td-info--title Игрушка-антистресс
                                p.td-info--name Заяц в голубой горошек в 2 строчки название
                                p.td-info--size Размер: 29x29см
                            td.td-select
                                p.td-select--art Арт.: P2929C1608A113RD
                                select.form-control(name='')
                                    option(value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                p.td-select--price.visible__xs-inline-block
                                    | 300.-
                                a(href="#").td-select--close
                                p.td-select--price.hidden__xs
                                    | 300.-
                        tr
                            td.td-image
                                img(src='images/cart-image-1.png', alt='')
                            td.td-info
                                p.td-info--title Игрушка-антистресс
                                p.td-info--name Мишка-топтыжка
                                p.td-info--size Размер: 29x29см
                            td.td-select
                                p.td-select--art Арт.: P2929C1608A113RD
                                select.form-control(name='')
                                    option(value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                p.td-select--price.visible__xs-inline-block
                                    | 250.-
                                a(href="#").td-select--close
                                p.td-select--price.hidden__xs
                                    | 250.-
                        tr
                            td.td-image
                                img(src='images/cart-image-2.png', alt='')
                            td.td-info
                                p.td-info--title Игрушка-антистресс
                                p.td-info--name Пряничный человечек
                                p.td-info--size Размер: 29x29см
                            td.td-select
                                p.td-select--art Арт.: P2929C1608A113RD
                                select.form-control(name='')
                                    option(value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                p.td-select--price.visible__xs-inline-block
                                    | 300.-
                                a(href="#").td-select--close
                                p.td-select--price.hidden__xs
                                    | 300.-
            .cart-right.cell.cell__lg-3.cell__md-4.cell__xs-12
                .order
                    .order-num
                        | № Заказа 6547
                    .order-overall
                        | Всего товаров: 36
                    .order-price
                        span.gray-13
                            | Общая сумма
                        span.order-price--val
                            | 20 550.-
                    .order-sale
                        span.gray-13
                            | Моя скидка
                        span.order-sale--val
                            | 5%
                    .order-sum
                        span.gray-15
                            | Итог
                        span.order-sum--val
                            | 20 300.-
                .text--center
                    a(href="#").makeorder.text--uppercase
                        | Оформить заказ
                    a.conditions(href='#') Условия доставки