.container
    include ../components/_breadcrumbs
    .card-inner
        .row
            .cell.cell__md-8.cell__xs-12
                h2 Мишка-топтыжка, бурый ест мёд
                    |  и появляется вторая строчка
                .visible__xs.visible__sm.text--center
                    a.btn.btn--danger.btn__icon.icon-left-open.margbot20(href="#") Назад в каталог
                ul.list--inline.card-share.hidden__xs.hidden__sm
                    li: a(href="#") Подушка-антистресс
                    li Поделиться:
                    li: a.header-left-social--vk(href='#')
                    li: a.header-left-social--facebook(href='#')
                    li: a.header-left-social--instagram(href='#')
                    li: a.header-left-social--twitter(href='#')
                .card-slider.row
                    .cell.cell__lg-9.cell__xs-12.image-gallery
                        a(href="images/slider/slider-for-1.png"): .zoom.text__xs.text--default
                            i.icon-plus
                            span Увеличить
                        .fav-button.fav-button--attached.active
                            span 465
                        img.mask(src="images/icons/mask-card.svg", alt="")
                        .slider-for
                            - for (var x = 1; x < 4; x++)
                                .card-slider__item
                                    img(src="images/slider/slider-for-11.png", alt="")
                    .slider-nav.cell.cell__lg-3.cell__xs-12
                         div: img(src="images/slider/slider-nav-1.png", alt="")
                         div.text__lg--right: img(src="images/slider/slider-nav-2.png", alt="")
                         div: img(src="images/slider/slider-nav-3.png", alt="")
                .card-icons.row.hidden__xs.hidden__sm
                    .cell.cell__lg-5.cell__md-4.cell__xs-12
                        img(src="images/icons/care-icons.svg", alt="")
                    .cell.cell__lg-7.cell__md-8.cell__xs-12
                        span.pull-right
                            a(href="#") Сертифицировано.
                            |  ГОСТ 25779-90.
                            br
                            |  Срок службы неограничен.
                        img.pull-right(src="images/icons/RST_EAC-01.svg", alt="")
            .cell.cell__md-4.cell__xs-12
                .hidden__xs.hidden__sm
                    a.btn.btn--danger.btn__icon.icon-left-open.margtop10(href="#") Назад в каталог
                ul.card-list
                    li.card-list__item
                        span.name Артикул
                        span.desc: b P3434C1608A110BR
                    li.card-list__item
                        span.name Цвет
                        span.desc
                            span.cardColor.cardColor--js
                                span.cardColor__item.active
                                    span.circle(style="background-color: #af644b;")
                                span.cardColor__item
                                    span.circle(style="background-color: #f7f7f7;")
                                span.cardColor__item
                                    span.circle(style="background-color: #2f2f2f;")
                                span.cardColor__item
                                    span.circle(style="background-color: #69e88d;")
                                span.cardColor__item
                                    span.circle(style="background-color: #69c4e8;")
                    li.card-list__item
                        span.name Размер1
                        span.desc
                            span.cardSize.cardColor--js
                                span.cardSize__item.active 34х34 см
                                span.cardSize__item 29х29 см
                    li.card-list__item
                        span.name Ткань
                        span.desc
                            span Трикотаж
                            br
                            a(href="#") полиэстер,
                            | &nbsp;
                            a(href="#")  латекс,
                            | &nbsp;
                            a(href="#")  спандекс
                    li.card-list__item
                        span.name Наполни-
                            | тель2
                        span.desc
                            span Гранулы вспененного
                            br
                            a(href="#") полистирола
                p.card-description
                    span.title Описание
                    span Небольшие подушки, аккуратно уложенные на диванах или кроватях, создадут в помещении дополнительный комфорт и уют. При выборе декоративной подушки или одеяла.  Или кроватях, создадут в помещении
                p.card-description
                    span.title Коллекция
                    a(href="#") Новый год 2016
                .card-price
                    span.price-new 1350.-
                    span.price-old 1700.-
                    button.btn.btn__icon.btn--info.icon-left-open.pull-right В корзину
                ul.card-i
                    li: img(src="images/icons/pluses.svg", alt="")
                    //li: img(src="images/card-icons-4.png", alt="")
                    //li: img(src="images/card-icons-5.png", alt="")
                    //li: img(src="images/card-icons-6.png", alt="")
        .text__xs.text--default.margbot40
            p
                sup 1
                |  Небольшие подушки, размер обычный, никаких ошибок не должно быть (ширина х высота)
            p
                sup 2
                |  Полистирол может быть не очень, но это проблема в производителе (можем его данные для претензий предоставить.
.card-mat
    .container
        .text--center
            h2 Используемые материалы и технологии
        .cell__lg-7.cell__md-9.center-block
            .slider-navt
                div Полистирол
                div Бифлекс
                div Нитки лучшие
                div Плотные швы
        .slider-fort
            - for (var x = 0; x < 4; x++)
                div
                    .text--center.shadow
                        img(src="images/slider/mat-1.png", alt="")
                    .cell__lg-6.cell__md-7.center-block
                        p.text--md Гранула пенопласта ТИС -  это очень легкие, почти невесомые, экологически чистые белые шарики диаметром от 1 до 8 мм. Гранулы ТИС имеют идеально круглую форму, при сжатии легко принимают первоначальную форму, производятся путем
include ../components/_catalog-1
.container.text--center
    .banner.cell__lg-9.cell__md-10.center-block.margtop30
        img.hidden__xs.hidden__sm(src="images/banner.png", alt="")
        a.btn.btn--info.text--uppercase(href="#") ПЕРЕЙТИ К АКЦИИ
include ../components/_bottombaner



