.catalog-inner
    .container
        include ../components/_breadcrumbs
        .row
            .cell.cell__md-3.cell__xs-12
                include ../components/_filter
            .cell.cell__md-9.cell__xs-12
                .banner.hidden__xs.hidden__sm
                    img(src="images/icons/banner.png", alt="")
                    a.btn.btn--info.text--uppercase(href="#") ПЕРЕЙТИ В КАТАЛОГ
                ul.list--inline.sort.hidden__xs.hidden__sm
                    li.hidden__md Сортировать по:
                    li.sort__item.down
                        a(href="#") Цене
                    li.sort__item
                        a(href="#") Популярности
                    li.sort__item
                        a(href="#") Новизне
                    li.pull-right.sort-num
                        ul.list--inline
                            li.hidden__sm(style="padding-right: 5px;")  Загружать по:
                            li.sort-num__item.active: a(href="#") 9
                            li.sort-num__item: a(href="#") 18
                            li.sort-num__item: a(href="#") 39
                .best-sellers--content
                    .row
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy
                            a(href='#')
                              .toy-preview
                                img(src='images/toy-2.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Игрушка-антистресс
                                .toy-description--name
                                  | Мишка-топтыжка
                            .toy-bottom
                              .toy-bottom--price
                                | 250.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy.status.status--new
                            a(href='#')
                              .toy-preview
                                img(src='images/toy-3.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Подголовник-антистресс
                                .toy-description--name
                                  | Бабушкино вязание
                            .toy-bottom
                              .toy-bottom--price.price-new
                                | 240.-
                              .toy-bottom--price.price-old
                                | 320.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy
                            a(href='#')
                              .toy-preview
                                img(src='images/toy-4.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Подголовник-антистресс
                                .toy-description--name
                                  | Бал Щелкунчика
                            .toy-bottom
                              .toy-bottom--price
                                | 160.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy
                            a(href='#')
                              .toy-preview
                                img(src='images/toy2.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Игрушка-антистресс
                                .toy-description--name
                                  | Пряничный человечек
                            .toy-bottom
                              .toy-bottom--price
                                | 150.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy.status.status--new
                            a(href='#')
                              .toy-preview
                                img(src='images/toy3.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Подголовник-антистресс
                                .toy-description--name
                                  | Гирлянда 2017
                            .toy-bottom
                              .toy-bottom--price.price-new
                                | 340.-
                              .toy-bottom--price.price-old
                                | 720.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                          .toy
                            a(href='#')
                              .toy-preview
                                img(src='images/toy4.png', alt='')
                              .toy-like.fav-button.fav-button--attached
                              .toy-description
                                .toy-description--type
                                  | Подголовник-антистресс
                                .toy-description--name
                                  | Бабушкино вязание, красный цвет
                            .toy-bottom
                              .toy-bottom--price
                                | 360.-
                              a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                            .toy
                                a(href='#')
                                    .toy-preview
                                        img(src='images/toy-10.png', alt='')
                                    .toy-like.fav-button.fav-button--attached
                                    .toy-description
                                        .toy-description--type
                                            | Подушка-антистресс
                                        .toy-description--name
                                            | Британский флаг
                                .toy-bottom
                                    .toy-bottom--price
                                        | 180.-
                                    a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                            .toy.status.status--new
                                a(href='#')
                                    .toy-preview
                                        img(src='images/toy-11.png', alt='')
                                    .toy-like.fav-button.fav-button--attached
                                    .toy-description
                                        .toy-description--type
                                            | Подушка-антистресс
                                        .toy-description--name
                                            | Гирлянда 2017
                                .toy-bottom
                                    .toy-bottom--price.price-new
                                        | 340.-
                                    .toy-bottom--price.price-old
                                        | 720.-
                                    a.toy-bottom--basketButton(href='#')
                        .cell.cell__lg-4.cell__sm-6.cell__xs-12
                            .toy
                                a(href='#')
                                    .toy-preview
                                        img(src='images/toy-12.png', alt='')
                                    .toy-like.fav-button.fav-button--attached
                                    .toy-description
                                        .toy-description--type
                                            | Подушка-антистресс
                                        .toy-description--name
                                            | Бабушкино вязание, красный цвет
                                .toy-bottom
                                    .toy-bottom--price
                                        | 360.-
                                    a.toy-bottom--basketButton(href='#')
                .catalog-hidden
                    div
                        .text--center
                            button.btn.btn--danger.btn__icon.icon-plus.catalog-hidden--js Загрузить еще
                    .best-sellers--content(style="display:none")
                        .row
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-2.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Игрушка-антистресс
                                            .toy-description--name
                                                | Мишка-топтыжка
                                    .toy-bottom
                                        .toy-bottom--price
                                            | 250.-
                                        a.toy-bottom--basketButton(href='#')
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy.status.status--new
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-3.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Подголовник-антистресс
                                            .toy-description--name
                                                | Бабушкино вязание
                                    .toy-bottom
                                        .toy-bottom--price.price-new
                                            | 240.-
                                        .toy-bottom--price.price-old
                                            | 320.-
                                        a.toy-bottom--basketButton(href='#')
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-4.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Подголовник-антистресс
                                            .toy-description--name
                                                | Бал Щелкунчика
                                    .toy-bottom
                                        .toy-bottom--price
                                            | 160.-
                                        a.toy-bottom--basketButton(href='#')
                        .text--center
                            button.btn.btn--danger.btn__icon.icon-plus.catalog-hidden--js Загрузить еще
                    .best-sellers--content(style="display:none")
                        .row
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-2.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Игрушка-антистресс
                                            .toy-description--name
                                                | Мишка-топтыжка
                                    .toy-bottom
                                        .toy-bottom--price
                                            | 250.-
                                        a.toy-bottom--basketButton(href='#')
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy.status.status--new
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-3.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Подголовник-антистресс
                                            .toy-description--name
                                                | Бабушкино вязание
                                    .toy-bottom
                                        .toy-bottom--price.price-new
                                            | 240.-
                                        .toy-bottom--price.price-old
                                            | 320.-
                                        a.toy-bottom--basketButton(href='#')
                            .cell.cell__lg-4.cell__sm-6.cell__xs-12
                                .toy
                                    a(href='#')
                                        .toy-preview
                                            img(src='images/toy-4.png', alt='')
                                        .toy-like.fav-button.fav-button--attached
                                        .toy-description
                                            .toy-description--type
                                                | Подголовник-антистресс
                                            .toy-description--name
                                                | Бал Щелкунчика
                                    .toy-bottom
                                        .toy-bottom--price
                                            | 160.-
                                        a.toy-bottom--basketButton(href='#')