.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--ref
            h2
                img(src="images/icons/title-icons-01.svg", alt="")
                | Оформление заказа
        .order.order--long
            .order__item
                .order-num
                    p № Заказа 6547
                .text--default.text__sm
                    | Всего товаров: 36
            .order__item
                .order-price
                    p.text--default.text__md
                        | Общая сумма
                    span.order-price--val
                        | 20 550.-
            .order__item
                .order-sale
                    p.text--default.text__md
                        | Моя скидка
                    span.order-sale--val
                        | 5%
            .order__item
                .order-sum
                    p.text--default.text__md
                        | Итог
                    span.order-sum--val
                        | 20 300.-
        .step.hidden__xs
            .step__item.done.text--left
                p Корзина
                    span.dot
            .step__item.done
                p Авторизация
                    span.dot
            .step__item.active.text--center
                p Способ получения
                    span.dot
            .step__item.text--right
                p Способ оплаты
                    span.dot
            .step__item.text--right
                p Готово
                    span.dot
        .delivery-block
            .form__group
                .radio
                    input(type="radio", id="chk2", checked)
                    label(for="chk2"): h3.text--info Выберите город
            .row
                .cell.cell__md-5.cell__xs-12
                    .row
                        .cell.cell__xs-12.error
                            .form__group
                                select.form-control
                                    option Страна
                                    option Страна
                                    option Страна
                                    option Страна
                                span.validate
                .cell.cell__md-1
                .cell.cell__md-5.cell__xs-12
                    .row
                        .cell.cell__xs-12.error
                            .form__group
                                select.form-control
                                    option Город
                                    option Город
                                    option Город
                                    option Город
                                span.validate
        .radiotab
            .row.radiotab--js
                .cell.cell__md-6.cell__xs-12
                    .delivery-block.delivery-block--trsj.delivery-block--h.active.delivery-block--trs-1
                        .form__group
                            .radio
                                input(type="radio", id="chk5", value="deliver", name="radio", checked)
                                label(for="chk5"): h3.text--info Заказать доставку
                        ul.list--inline
                            li
                                .radio-btn
                                    input(type="radio", id="radio", name="radio-btn")
                                    label(for="radio") Курьерская доставка
                            li
                                .radio-btn
                                    input(type="radio", id="radio1", name="radio-btn", checked)
                                    label(for="radio1") Почта России
                            li
                                .radio-btn
                                    input(type="radio", id="radio2", name="radio-btn")
                                    label(for="radio2") Dimex
                            li
                                .radio-btn
                                    input(type="radio", id="radio3", name="radio-btn")
                                    label(for="radio3") Boxberry
                .cell.cell__md-6.cell__xs-12
                    .delivery-block.delivery-block--trsj.delivery-block--h.delivery-block--trs-2
                        .form__group
                            .radio
                                input(type="radio", id="chk6", value="deliver1", name="radio")
                                label(for="chk6"): h3.text--info Постаматы и пункты выдачи
                        p.text__xs ПОСТАМАТ – автоматизированный терминал выдачи отправлений, куда доставляется заказ из Интернет-магазина или по каталогу покупателю. Далее получатель самостоятельно забирает заказ в удобное время, следуя инструкциям в меню терминала.
            .radiotab--content.radiotab--content-1.active
                .delivery-block.delivery-block--trs
                    .form__group
                        .radio
                            input(type="radio", id="chk4", checked)
                            label(for="chk4"): h3.text--info Адрес доставки
                    .row
                        .cell.cell__md-6.cell__xs-12
                            .form__group
                                input.form-control(type="text", placeholder="Адрес")
                        .cell.cell__md-6.cell__xs-12
                            .row
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        input.form-control(type="text", placeholder="Дом")
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        input.form-control(type="text", placeholder="Подъезд")
                                .cell.cell__md-4.cell__xs-12
                                    .form__group
                                        input.form-control(type="text", placeholder="Квартира")
                        .cell.cell__md-6.cell__xs-12
                            .form__group
                                input.form-control(type="text", placeholder="Имя получателя")
                        .cell.cell__md-6.cell__xs-12
                            .row
                                .cell.cell__md-6.cell__xs-12
                                    .form__group
                                        input.form-control(type="text", placeholder="Номер телефона")
                                .cell.cell__md-6.cell__xs-12
                                    .form__group
                                        input.form-control(type="email", placeholder="e-mail")
                        .cell.cell__xs-12
                            .form__group
                                textarea.form-control(rows="4", placeholder="Комментарий к заказу")
            .radiotab--content.radiotab--content-2
                .tabs
                    .delivery-block.delivery-block--trs.delivery-block--inner.tabs__caption
                        .form__group
                            .radio
                                input(type="radio", id="chk8", checked)
                                label(for="chk8"): h3.text--info Пункты Выдачи Заказов
                        .row.pickpoint
                            .cell.cell__md-6.cell__xs-12.pickpoint__item
                                .pickpoint-list.custom-scroll--js
                                    .pickpoint-list__item.active
                                        span.num 1
                                        b.length 500 м
                                        .inner
                                            p: b Пункт Выдачи Заказов Hermes
                                                br
                                                | Все инструменты
                                            p.text__xs Красных Зорь ул., д.4А
                                                br
                                                | Иваново, 153005
                                    .pickpoint-list__item
                                        span.num 2
                                        b.length 2,7 км
                                        .inner
                                            p: b Постамат PickPoint
                                                br
                                                | ТЦ Никольский
                                            p.text__xs Ленина пр-кт, д.57А
                                                br
                                                | Иваново, 153025
                                    .pickpoint-list__item
                                        span.num 3
                                        b.length 800 м
                                        .inner
                                            p: b Постамат PickPoint
                                                br
                                                |  ТРК Ясень
                                            p.text__xs Строителей пр-кт, д. 25
                                                br
                                                |  Иваново, 153038
                                    .pickpoint-list__item
                                        span.num 4
                                        b.length 500 м
                                        .inner
                                            p: b Пункт Выдачи Заказов Hermes
                                                br
                                                | Все инструменты
                                            p.text__xs Красных Зорь ул., д.4А
                                                br
                                                | Иваново, 153005
                                    .pickpoint-list__item
                                        span.num 5
                                        b.length 2,7 км
                                        .inner
                                            p: b Постамат PickPoint
                                                br
                                                | ТЦ Никольский
                                            p.text__xs Ленина пр-кт, д.57А
                                                br
                                                | Иваново, 153025
                                    .pickpoint-list__item
                                        span.num 6
                                        b.length 800 м
                                        .inner
                                            p: b Постамат PickPoint
                                                br
                                                |  ТРК Ясень
                                            p.text__xs Строителей пр-кт, д. 25
                                                br
                                                |  Иваново, 153038
                            .cell.cell__md-6.cell__xs-12.pickpoint__item
                                img(src="images/map.jpg", alt="")
                    .tabs__content.active
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Пункт Выдачи Заказов Hermes
                                                    br
                                                    | Все инструменты
                                                p.text__xs Красных Зорь ул., д.4А
                                                    br
                                                    | Иваново, 153005
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                                            tr
                                                td суббота
                                                td 09:00-21:00
                    .tabs__content
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Постамат PickPoint
                                                    br
                                                    | ТЦ Никольский
                                                p.text__xs Ленина пр-кт, д.57А
                                                    br
                                                    | Иваново, 153025
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                                            tr
                                                td воскресенье
                                                td 09:00-21:00
                    .tabs__content
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Постамат PickPoint
                                                    br
                                                    |  ТРК Ясень
                                                p.text__xs Строителей пр-кт, д. 25
                                                    br
                                                    |  Иваново, 153038
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                    .tabs__content
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Пункт Выдачи Заказов Hermes
                                                    br
                                                    | Все инструменты
                                                p.text__xs Красных Зорь ул., д.4А
                                                    br
                                                    | Иваново, 153005
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                                            tr
                                                td суббота
                                                td 09:00-21:00
                                            tr
                                                td воскресенье
                                                td 09:00-21:00
                    .tabs__content
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Постамат PickPoint
                                                    br
                                                    | ТЦ Никольский
                                                p.text__xs Ленина пр-кт, д.57А
                                                    br
                                                    | Иваново, 153025
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                                            tr
                                                td суббота
                                                td 09:00-21:00
                                            tr
                                                td воскресенье
                                                td 09:00-21:00
                    .tabs__content
                        .delivery-block.delivery-block--top
                            .row
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    .pickpoint-list
                                        .pickpoint-list__item
                                            span.num.choose
                                            .inner
                                                p: b Постамат PickPoint
                                                    br
                                                    |  ТРК Ясень
                                                p.text__xs Строителей пр-кт, д. 25
                                                    br
                                                    |  Иваново, 153038
                                .cell.cell__md-6.cell__xs-12.pickpoint__item
                                    h5 Режим работы
                                    table.table.table--striped
                                        tbody
                                            tr
                                                td понедельник
                                                td 09:00-21:00
                                            tr
                                                td вторник
                                                td 09:00-21:00
                                            tr
                                                td среда
                                                td 09:00-21:00
                                            tr
                                                td четверг
                                                td 09:00-21:00
                                            tr
                                                td пятница
                                                td 09:00-21:00
                                            tr
                                                td суббота
                                                td 09:00-21:00
                                            tr
                                                td воскресенье
                                                td 09:00-21:00
        .order--long
            .order__item
                a(href="#"): img(src="images/icons/arr.svg", alt="")
            .order__item
                .order-price
                    .text--default.text__md
                        | Сумма заказа
                    span.order-price--val
                        | 20 550.-
            .order__item
                .order-sale
                    .text--default.text__md
                        | Стоимость доставки
                    span.order-sale--val
                        | 300.-
            .order__item
                .order-sum
                    .text--default.text__md
                        | Итого
                    span.order-sum--val
                        | 20 300.-
            .order__item
                a.btn.btn--primary.text--uppercase.btn--full(href="#") Перейти к оплате