include ../components/_slider
include ../components/_bottombaner
.best-sellers.clearfix
  .container
    .best-sellers--title.category-header.category-header--star
      h2
        img(src="images/icons/title-icons-04.svg", alt="")
        | Хиты продаж
      a.all(href='#') все хиты
    .best-sellers--content
      .slider-product
        div
          .toy.status.status--popular
            a(href='#')
              .toy-preview
                img(src='images/toy.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подушка-антистресс
                .toy-description--name
                  | Заяц в голубой горошек в 2 строчки название
            .toy-bottom
              .toy-bottom--price.price-new
                | 250.-
              .toy-bottom--price.price-old
                | 350.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-2.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Игрушка-антистресс
                .toy-description--name
                  | Мишка-топтыжка
            .toy-bottom
              .toy-bottom--price
                | 250.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy.status.status--new
            a(href='#')
              .toy-preview
                img(src='images/toy-3.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подголовник-антистресс
                .toy-description--name
                  | Бабушкино вязание
            .toy-bottom
              .toy-bottom--price.price-new
                | 240.-
              .toy-bottom--price.price-old
                | 320.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy-4.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подголовник-антистресс
                .toy-description--name
                  | Бал Щелкунчика
            .toy-bottom
              .toy-bottom--price
                | 160.-
              a.toy-bottom--basketButton(href='#')
.fresh.clearfix
  .container
    .fresh--title.category-header.category-header--fresh
      h2
        img(src="images/icons/title-icons-03.svg", alt="")
        | Новинки
      a.all(href='#') все новинки
    .fresh--content
      .slider-product
        div
          .toy.status.status--popular
            a(href='#')
              .toy-preview
                img(src='images/toy1.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Игрушка-антистресс
                .toy-description--name
                  | Ёлка-Пряник, новогодний аксессуар
            .toy-bottom
              .toy-bottom--price.price-new
                | 150.-
              .toy-bottom--price.price-old
                | 350.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy2.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Игрушка-антистресс
                .toy-description--name
                  | Пряничный человечек
            .toy-bottom
              .toy-bottom--price
                | 150.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy.status.status--new
            a(href='#')
              .toy-preview
                img(src='images/toy3.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подголовник-антистресс
                .toy-description--name
                  | Гирлянда 2017
            .toy-bottom
              .toy-bottom--price.price-new
                | 340.-
              .toy-bottom--price.price-old
                | 720.-
              a.toy-bottom--basketButton(href='#')
        div
          .toy
            a(href='#')
              .toy-preview
                img(src='images/toy4.png', alt='')
              .toy-like.fav-button.fav-button--attached
              .toy-description
                .toy-description--type
                  | Подголовник-антистресс
                .toy-description--name
                  | Бабушкино вязание, красный цвет
            .toy-bottom
              .toy-bottom--price
                | 360.-
              a.toy-bottom--basketButton(href='#')
include ../components/_catalog
.about.clearfix
  .container
    .about--title.category-header.category-header--about
      h2
        img(src="images/icons/title-icons-08.svg", alt="")
        | Немного о&nbsp;мнушках
    .row
        .cell.cell__md-4.cell__xs-12.about-left.hidden__sm.hidden__xs
            .about-left--image
                img(src="images/left-image.png", alt="")
        .cell.cell__md-8.cell__xs-12.about-right
          p
            | Чувство усталости и нервное напряжение знакомы каждому человеку: они способны не только испортить настроение, но и спровоцировать стресс. Как бороться с этими проблемами? Есть один достаточно оригинальный, но вместе с тем и эффективный способ: приобрести антистрессовую игрушку или подушку.
          p
            | Фабрика «Игрушка» - одно из крупнейших предприятий на территории Центральной России по выпуску таких изделий. Мы разработали собственную технологию производства антистрессовых игрушек и подушек под торговой маркой «Мнушки».
            | Антистрессовые игрушки и антистрессовые подушки от ТМ "Мнушки" заботятся о вашем здоровье и здоровье ваших близких.
          p
            | Их секрет – необычный наполнитель, состоящий из мельчайших шариков вспененного полистирола. Благодаря ему красивые и мягкие игрушки благоприятно воздействуют на организм человека. Эффект от антистрессовой терапии заметен сразу же: достаточно в течение нескольких минут подержать «игрушку-мнушку» в руках или прилечь на антистрессовую подушку, как срабатывает массажный эффект изделия и вы расслабляетесь. Мельчайшие шарики, диаметром до 1 мм стимулируют нервные окончания, способствуют снижению раздражительности и усталости, позволяют отвлечься от проблем и ощутить заряд бодрости и положительных эмоций.
          p
            | Мнушки – это отличный вариант подарка или сувенирной продукции. 
            br
            | Попробуйте и убедитесь сами!
include ../components/_social