.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--ref
            h2
                img(src="images/icons/title-icons-01.svg", alt="")
                | Оформление заказа
        include ../components/_order
        .row
            .cell.cell__md-6.cell__xs-12
                form.reg-form
                    .text--center
                        h3.text--info Регистрация
                    .tabs
                        ul.tabs__caption.list--inline.text--center
                            li.active: span Как частное лицо
                            li: span Как организация
                        .tabs__content.active
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Имя")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Фамилия")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-02.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="email", placeholder="Электронная почта")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-04.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control(type="text", placeholder="Номер телефона")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-05.svg", alt="")
                                    .cell.cell__xs-10.success
                                        input.form-control(type="password", placeholder="**************")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-06.svg", alt="")
                                    .cell.cell__xs-10.success
                                        input.form-control(type="password", placeholder="**************")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                    .cell.cell__xs-10
                                        .form__group
                                            .checkbox
                                                input(type="checkbox", id="chk", checked)
                                                label(for="chk") Получать &nbsp;
                                                    a(href="#") новости
                                                    |  от Мнушек
                                        .form__group
                                            .checkbox
                                                input(type="checkbox", id="chk1")
                                                label(for="chk1") Согласен на  &nbsp;
                                                    a(href="#") использование
                                                        br
                                                        | персональных данных
                                        img(src="images/capcha.jpg", alt="")
                            .form__group
                                input.btn.btn--primary.text--uppercase.btn--full.btn__lg(type="submit", value="Зарегистрироваться")
                        .tabs__content
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Название организации")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-03.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="ИНН")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-03.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="ОГРН")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-03.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control(type="text", placeholder="Расчетный счет")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Фамилия")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Имя")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control(type="text", placeholder="Отчество")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-01.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control(type="text", placeholder="Должность")
                                        span.validate

                            .form__group
                                .row
                                    .cell.cell__xs-12.error
                                        select.form-control
                                            option Страна
                                            option Страна
                                            option Страна
                                            option Страна
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.error
                                        select.form-control
                                            option Область
                                            option Область
                                            option Область
                                            option Область
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.error
                                        select.form-control
                                            option Город
                                            option Город
                                            option Город
                                            option Город
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        input.form-control(type="text", placeholder="Улица")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        input.form-control(type="text", placeholder="Номер дома")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        input.form-control(type="text", placeholder="Корпус")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        input.form-control(type="text", placeholder="Офис")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        textarea.form-control(rows="7", placeholder="Юридический адрес")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-03.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control.birth(type="text", placeholder="Дата рождения")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-12.neut
                                        select.form-control
                                            option Выберите пол
                                            option Выберите пол
                                            option Выберите пол
                                            option Выберите пол
                                        span.validate

                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-04.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="text", placeholder="Телефон")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-04.svg", alt="")
                                    .cell.cell__xs-10.neut
                                        input.form-control(type="text", placeholder="Факс")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-02.svg", alt="")
                                    .cell.cell__xs-10.error
                                        input.form-control(type="email", placeholder="Электронная почта")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-05.svg", alt="")
                                    .cell.cell__xs-10.success
                                        input.form-control(type="password", placeholder="**************")
                                        span.validate
                            .form__group
                                .row
                                    .cell.cell__xs-2
                                        .icons
                                            img(src="images/icons/form-ico-06.svg", alt="")
                                    .cell.cell__xs-10.success
                                        input.form-control(type="password", placeholder="**************")
                                        span.validate

                            .form__group
                                .row
                                    .cell.cell__xs-2
                                    .cell.cell__xs-10
                                        .form__group
                                            .checkbox
                                                input(type="checkbox", id="chk2", checked)
                                                label(for="chk2") Получать &nbsp;
                                                    a(href="#") новости
                                                    |  от Мнушек
                                        .form__group
                                            .checkbox
                                                input(type="checkbox", id="chk3")
                                                label(for="chk3") Согласен на  &nbsp;
                                                    a(href="#") использование
                                                        br
                                                        | персональных данных
                                        img(src="images/capcha.jpg", alt="")
                            .form__group
                                input.btn.btn--primary.text--uppercase.btn--full.btn__lg(type="submit", value="Зарегистрироваться")
            .cell.cell__md-6.cell__xs-12
                form.soc-form
                    .text--center
                        h3.text--info Войти через соцсеть
                        .form__group
                            .row
                                .cell.cell__lg-6.cell__md-12.cell__sm-6.cell__xs-12
                                    .form__group
                                        a.btn.btn--vk(href="#") Вконтакте
                                    .form__group
                                        a.btn.btn--go(href="#") Google Plus
                                    .form__group
                                        a.btn.btn--tw(href="#") Twitter
                                .cell.cell__lg-6.cell__md-12.cell__sm-6.cell__xs-12
                                    .form__group
                                        a.btn.btn--odn(href="#") Одноклассники
                                    .form__group
                                        a.btn.btn--fa(href="#") Facebook
                p.text--default.text__xs.notice Осуществляя вход, вы подтверждаете свое согласие на получение информации о статусе заказов, согласие с &nbsp;
                    a(href="#") правилами использования
                    |  и согласие на обработку персональных данных.
