.container
    include ../components/_breadcrumbs
    .cart
        .cart--title.category-header.category-header--ref
            h2
                img(src="images/icons/title-icons-01.svg", alt="")
                | Оформление заказа
        .order.order--long
            .order__item
                .order-num
                    p № Заказа 6547
                .text--default.text__sm
                    | Всего товаров: 36
            .order__item
                .order-price
                    p.text--default.text__md
                        | Общая сумма
                    span.order-price--val
                        | 20 550.-
            .order__item
                .order-sale
                    p.text--default.text__md
                        | Моя скидка
                    span.order-sale--val
                        | 5%
            .order__item
                .order-sum
                    p.text--default.text__md
                        | Итог
                    span.order-sum--val
                        | 20 300.-
        .step.hidden__xs
            .step__item.done.text--left
                p Корзина
                    span.dot
            .step__item.done
                p Авторизация
                    span.dot
            .step__item.done.text--center
                p Способ получения
                    span.dot
            .step__item.active.text--right
                p Способ оплаты
                    span.dot
            .step__item.text--right
                p Готово
                    span.dot
        .row
            .cell.cell__md-6.cell__xs-12
                .delivery-block.delivery-block--trs
                    .form__group
                        .radio
                            input(type="radio", id="chk5", value="deliver", name="radio", checked)
                            label(for="chk5"): h3.text--info Выбор способа оплаты
                    ul.list--inline
                        li
                            .radio-btn
                                input(type="radio", id="radio", name="radio-btn")
                                label(for="radio") Наличными при получении
                        li
                            .radio-btn
                                input(type="radio", id="radio1", name="radio-btn", checked)
                                label(for="radio1") Банковской картой при получении
                        li
                            .radio-btn
                                input(type="radio", id="radio2", name="radio-btn")
                                label(for="radio2") Банковской картой на сайте
            .cell.cell__md-6.cell__xs-12
                .delivery-block
                    .text--center
                        h3.text--info Внимательно проверьте информацию о заказе
                    .contacts-block
                        .contacts-block__item
                            .inner
                                a.edit(href="#"): img(src="images/icons/form-ico-08.svg", alt="")
                            .inner
                                span.text--default.text__sm Контактное лицо
                                .text__sm Мнушкопопулус
                                    br
                                    | Александр Владимирович
                        .contacts-block__item
                            .inner
                                a.edit(href="#"): img(src="images/icons/form-ico-08.svg", alt="")
                            .inner
                                span.text--default.text__sm Контактный телефон
                                .text__sm +7 915 810 61 63
                        .contacts-block__item
                            .inner
                                a.edit(href="#"): img(src="images/icons/form-ico-08.svg", alt="")
                            .inner
                                span.text--default.text__sm Контактный телефон
                                .text__sm +7 915 810 61 63
                        .contacts-block__item
                            .inner
                                a.edit(href="#"): img(src="images/icons/form-ico-08.svg", alt="")
                            .inner
                                span.text--default.text__sm Способ доставки
                                .text__sm Почта России
                            .pull-right.hidden__xs: img(src='images/ruspost.png', alt="")
                        .contacts-block__item
                            .inner.inner--s
                                a.edit(href="#"): img(src="images/icons/form-ico-08.svg", alt="")
                            .inner.inner--l
                                span.text--default.text__sm Адрес
                                .text__sm Иваново, ул. Громобоя, д.15, кв. 44
                        .margtop30
                            a.btn.btn--default(href="#") Изменить данные
        .order--long
            .order__item
                a(href="#"): img(src="images/icons/arr.svg", alt="")
            .order__item
                .order-price
                    .text--default.text__md
                        | Сумма заказа
                    span.order-price--val
                        | 20 550.-
            .order__item
                .order-sale
                    .text--default.text__md
                        | Стоимость доставки
                    span.order-sale--val
                        | 300.-
            .order__item
                .order-sum
                    .text--default.text__md
                        | Итого
                    span.order-sum--val
                        | 20 300.-
            .order__item
                a.btn.btn--primary.text--uppercase.btn--full(href="#") Все верно, Заказать