extends layouts/_default

block title
    title Ошибка 404
    - var title = 'Ошибка 404'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_404

block siteFooter
    include partials/_footer
