extends layouts/_default

block title
    title Подушка-антистресс
    - var title = 'Подушка-антистресс'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
