extends layouts/_default

block title
    title Каталог
    - var title = 'Каталог'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-filtr

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_footer
