extends layouts/_default

block title
    title Оформление заказа
    - var title = 'Оформление заказа'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_delivery

block siteFooter
    include partials/_footer
