extends layouts/_default

block title
    title Мнушки
    - var title = 'Мнушки'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_index

block siteFooter
    include partials/_footer
