//- Custom Configuration
block config
  - var baseUrl = '/'

doctype html
html(lang="en")

  include ../mixins/_mixins

  head
    include ../partials/_head

  block pageName
    -var pageName = "main"

  body(class="page-#{pageName}")
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->

    main
      div.main
        .shadow--js
        //- header
        block siteHeader
        //- main
        block siteMain
        //- footer
        block siteFooter

    block scripts
      <!--[if lt IE 9]>
      script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
      <![endif]-->
      //- build:js(./app/) scripts/plugins.js -->
      //- bower:js
      script(src='../bower_components/jquery/dist/jquery.js')
      script(src='../bower_components/jquery-cycle2/build/jquery.cycle2.js')
      script(src='../bower_components/magnific-popup/dist/jquery.magnific-popup.js')
      script(src='../bower_components/slick-carousel/slick/slick.js')
      script(src='../bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.js')
      script(src='../bower_components/nouislider/distribute/nouislider.js')
      script(src='../bower_components/jquery-mousewheel/jquery.mousewheel.js')
      script(src='../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
      script(src='../bower_components/select2/dist/js/select2.js')
      //- endbower
      //- endbuild -->
      //- build:js(.tmp) scripts/main.js -->
      script(src="scripts/main.js")
      //- endbuild -->

      //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        script.
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');